<div class="page-head">
  <div class="container">
    <div class="row">
      <div class="span12">
        <h2><span class="purple">VoiceGems Service (Private Beta)</span></h2>
      </div>
    </div>
  </div>
</div>


<div class="container">

<br/>
<br/>

<div class="row">
	<div class="span9 offset1">
		<h2> <i class="icon-magic"></i>&nbsp;&nbsp;<span class="light-blue" id="how">What are VoiceGems?</span></h2>
	</div>

</div>

<div class="row">
	<div class="span11 offset1">
		        <div class="text-divider6">
          <span></span>
        </div> 
	</div>

</div>

 <div class="row biggertext">

    <div class="span6 offset2">
		
			<br/>
        <h4>VoiceGems are short toasts or voice-messages from friends and family (both present and absent) which the DJ blends into the reception music.</h4> <br/>
        <h4>It's a great way to add a unique, magical touch to your wedding reception! </h4><br/>
        <h5>(VoiceGems is brand new service by the makers of NameCoach, and is currently in private BETA.)</h5>
 </div>


<div class="span3 offset1"><img src="/assets/wedding-photo.png" alt=""/></div>

</div>

<br/>

 <div class="row biggertext">
    <div class="span11 offset1">

    	<h2> <i class="icon-cogs"></i>&nbsp;&nbsp;<span class="light-blue" id="how">How It Works</span></h2>
        <div class="text-divider6">
          <span></span>
        </div> 
        
        <div class="content process biggertext">

          <div class="row">
             <div class="span8 offset1">
                 <div class="process-meta fl-left">
                   <span>1</span>
                 </div>
               
                  <br/>
                 <span class="ph3">&nbsp;&nbsp;&nbsp;Share a Link with Guests, Friends & Family</span>&nbsp;&nbsp;
                  <br/>
                  &nbsp;&nbsp;&nbsp;<span class="help-block">(or enter emails to send personal invites)<span> <br/>  
                  
              </div> 
          </div>

          <div class="row">
          	<div class="span7 offset2">
          		<hr/>
          		<span class="biggerlink">Demo Link&nbsp;<i class="icon-caret-right"></i>&nbsp;&nbsp;<a href="<%= @url%>" target="_blank">Please record your VoiceGem for the Jones-Ravenwood wedding here!</span></a>
          		<hr/>
          	</div>
          </div>
    
          <div class="row">
             <div class="span8 offset1">
                 <div class="process-meta fl-left">
                   <span>2</span>
                 </div>
               
                  <br/>
                 <span class="ph3">&nbsp;&nbsp;&nbsp;They Record Short Messages/Toasts with our Online Voice Recorder</span>&nbsp;&nbsp;
                 <br/>
                  &nbsp;&nbsp;&nbsp;<span class="help-block">(30-second limit on messages. Can be paired with song requests.)</span>   
                
              </div> 
          </div>
          <br/><br/>
         <div class="row">
             <div class="span8 offset1">
                 <div class="process-meta fl-left">
                   <span>3</span>
                 </div>
               
                  <br/>
                 <span class="ph3">&nbsp;&nbsp;&nbsp;DJ Blends the VoiceGems into Music for an Unforgettable Reception!</span>&nbsp;&nbsp;
                    <br/>
                  &nbsp;&nbsp;&nbsp;<span class="help-block">(All VoiceGems downloadable in multiple formats for easy mixing)</span>   
              </div> 
          </div>

        </div>

      </div>
  </div>  


<br/>
<br/>

<div class="row">
	<div class="span9 offset1">
		<h2> <i class="icon-chevron-right"></i><i class="icon-chevron-right"></i><i class="icon-chevron-right"></i>&nbsp;&nbsp;<span class="light-blue" id="how2">How to Get Started</span></h2>
	</div>

</div>

<div class="row">
	<div class="span11 offset1">
		        <div class="text-divider6">
          <span></span>
        </div> 
	</div>

</div>


 <div class="row biggertext">

    <div class="span8 offset2">
		
    	<h4> If you would like to use VoiceGems (Private Beta) for your wedding, or your clients' weddings, please send a note to info@name-coach.com (or use the 'Contact Us' link below), and we'll set you up! </h4> <br/>
    	<h5> If you are planning your wedding: please mention when and where your wedding is, and who the DJ will be (if you have decided).</h4> <br/>
    	<h5> If you are a DJ or Wedding Planner: please let us know where your primary market is. <h5>

 </div>

</div>

<br/>
<br/>
<div class="row">
	<div class="span11 offset1">
		        <div class="text-divider5">
          <span></span>
        </div> 
	</div>

</div>

<br/>



</div>