
<p>Dear <% if !@invitation.recipient_name.blank? %><%= @invitation.recipient_name %><% else %><%= @invitation.recipient_email %><% end %>,</p>

<p>A client of yours, <% if !@invitation.sender_name.blank? %><%= @invitation.sender_name %><% else %><%= @invitation.sender_email %><% end %>, would like you to use <a href="https://www.voicegems.com">VoiceGems</a> to mix music with meaning at their wedding reception.</p>

<p>VoiceGems collects short pre-recorded wedding toasts for you to blend in your entertainment mix, creating a meaningful touch everyone will love and remember.</p>

<h4>To learn more about how you can boost your revenues and differentiate your brand using VoiceGems, please visit www.voicegems.com/djs and sign up for a free trial!</h4>

<p>If you are new to VoiceGems, you can enter code <strong>50FIRST at checkout to get 50% off</strong> your first VoiceGems service purchase.  We encourage you, in turn, to offer the service at a discounted price to the client who requested it through this email.</p>


<p>Thank you,<br/>
- The team at VoiceGems</p>
<p>www.voicegems.com</p>