<!-- How to starts -->

<div class="content process">
    <div class="container">

        <div class="row">
             <div class="text-divider5">
              <span></span>
             </div>


                       <div class="span5">
                           <!-- Step 1 -->
                           <div class="onethree-left">
                             <div class="process-meta">
                              <!-- Process number. Like one, two, three -->
                                <span>1</span>
                             </div>
                           </div>
                           <div class="onethree-right">
                            <!-- Title and para -->
                             <h3><i class="icon-edit"></i>&nbsp;Create an Event Page </h3>
                             <p><span class="grabber2">Just enter a name (like 'The Jones-Ravenwood Wedding'), and a date for the event.</span></p>
                            
                           </div>
                        </div>

                              <div class="span6">
                             <%=  image_tag("create_event_4.png", alt: "Create Event", :class => "img-border") %>
                             <h6> screenshots are scaled down </h6>
                            </div>
          </div>

          <div class= "row">
             <div class="text-divider6">
              <span></span>
             </div>               


                         <div class="span5">
                           <!-- Step 1 -->
                           <div class="onethree-left">
                             <div class="process-meta">
                              <!-- Process number. Like one, two, three -->
                                <span>2</span>
                             </div>
                           </div>
                           <div class="onethree-right">
                            <!-- Title and para -->
                              <h3><i class="icon-envelope"></i>&nbsp;Invite Other Admins&nbsp;<span class="muted">(optional)</span></h3>
                               <p><i class="icon-caret-right"></i>&nbsp;&nbsp;<span class="grabber2">Once you create an Event Page, you will have 'admin' access to that page. Admins can request name recordings from attendees, listen to those recordings, and invite others to become admins (useful if the person requesting names and the person announcing them are different).</span></p>

                                <p><i class="icon-caret-right"></i>&nbsp;&nbsp;<span class="grabber2">To invite an admin, you have two options:</spam></p>
                                  <ol>
                                    <li><span class="grabber2">Just enter an email address to send an admin invitation.  By clicking a link in this email, they will automatically become an admin for the event.</span></li> <br/>
                                    <li><span class="grabber2">Or, they can visit name-coach.com and sign up with the admin code.</span></li>
                                  </ol>

                           </div>
                        </div>

                              <div class="span6">
                             <%=  image_tag("create_event_4.png", alt: "Create Event", :class => "img-border") %>
                             <h6> screenshots are scaled down </h6>
                            </div>

          </div>

           <div class="row">
               <div class="text-divider5">
                <span></span>
               </div>                  


                        <div class="span4">
                           <!-- Step 2 -->
                           <div class="onethree-left">
                             <div class="process-meta">
                                <span>2</span>
                             </div>
                           </div>
                           <div class="onethree-right">
                             <h4>Prototype</h4>
                             <p>In vitae adipiscing enim. Curabitur rhoncus condimentum lorem, non convallis dolor faucibus eget. In ut nulla est. Sed a interdum mauris.</p>
                             <hr />
                           </div>                        
                        </div>

                        <div class="span4">
                           <!-- Step 3 -->
                           <div class="onethree-left">
                             <div class="process-meta">
                                <span>3</span>
                             </div>
                           </div>
                           <div class="onethree-right">
                             <h4>Review</h4>
                             <p>In vitae adipiscing enim. Curabitur rhoncus condimentum lorem, non convallis dolor faucibus eget. In ut nulla est. Sed a interdum mauris.</p>
                             <hr />
                           </div>                       
                        </div> 
        </div>
        

                        <div class="clearfix"></div>

                        <div class="span4">
                           <!-- Step 4 -->
                           <div class="onethree-left">
                             <div class="process-meta">
                                <span>4</span>
                             </div>
                           </div>
                           <div class="onethree-right">
                             <h4>Product</h4>
                             <p>In vitae adipiscing enim. Curabitur rhoncus condimentum lorem, non convallis dolor faucibus eget. In ut nulla est. Sed a interdum mauris.</p>
                             <hr />
                           </div>
                        </div>

                        <div class="span4">
                           <!-- Step 5 -->
                           <div class="onethree-left">
                             <div class="process-meta">
                                <span>5</span>
                             </div>
                           </div>
                           <div class="onethree-right">
                             <h4>Testing</h4>
                             <p>In vitae adipiscing enim. Curabitur rhoncus condimentum lorem, non convallis dolor faucibus eget. In ut nulla est. Sed a interdum mauris.</p>
                             <hr />
                           </div>                        
                        </div>

                        <div class="span4">
                           <!-- Step 6 -->
                           <div class="onethree-left">
                             <div class="process-meta">
                                <span>6</span>
                             </div>
                           </div>
                           <div class="onethree-right">
                             <h4>Final Review</h4>
                             <p>In vitae adipiscing enim. Curabitur rhoncus condimentum lorem, non convallis dolor faucibus eget. In ut nulla est. Sed a interdum mauris.</p>
                             <hr />
                           </div>                       
                        </div>                        



    </div>
</div>

<!-- How to ends  -->



<!-- Below slider starts -->
<div class="sep"></div>
<div class="slider-features">
  <div class="container">

 

    <div class="row">
      <div class="span4">
        <div class="onethree">
          <div class="onethree-left">
            <!-- Font awesome icon -->
            <div class="img"><i class="icon-cloud"></i></div>
          </div>
          <div class="onethree-right">
            <!-- Title and meta -->
            <h5><a href="#">Proin porttitor decided eros</a></h5>
            <p class="meta">Sed diam nisi, pulvinar vitae molestie hendrerit, venenatis eget mauris.</p>
          </div>
          <div class="clearfix"></div>
        </div>
      </div>
      <div class="span4">
        <div class="onethree">
          <div class="onethree-left">
            <div class="img"><i class="icon-gift"></i></div>
          </div>
          <div class="onethree-right">
            <h5><a href="#">Curatur rhoncus condim eros</a></h5>
            <p class="meta">Sed diam nisi, pulvinar vitae molestie hendrerit, venenatis eget mauris.</p>
          </div>
          <div class="clearfix"></div>   
        </div>     
      </div>
      <div class="span4">
        <div class="onethree">
          <div class="onethree-left">
            <div class="img"><i class="icon-home"></i></div>
          </div>
          <div class="onethree-right">
            <h5><a href="#">Proin porttitor decided eros</a></h5>
            <p class="meta">Sed diam nisi, pulvinar vitae molestie hendrerit, venenatis eget mauris.</p>
          </div>
          <div class="clearfix"></div>  
        </div>      
      </div>
    </div>
  </div>
</div>

<!-- Below slider ends -->


<!-- CTA Starts -->

<div class="cta">
  <div class="container">
    <div class="row">
      <div class="span5">
        <div class="ctas">
          <!-- Title and Para -->
          <h5>Professional Product Ever Made in Internet</h5>
          <p>Sed diam nisi, pulvinar vitae molestie vitae molestie hendreri hendrerit, venenatis eget mauris.</p>
        </div>
      </div>
      <div class="span4">
        <div class="ctas">
          <!-- List -->
          <ul>
            <li>Very Cheap in Market. Check it today.</li>
            <li>Professional and Powerful. Don't miss it.</li>
            <li>1000% Guanrantee. No Worries. No Probs.</li>
          </ul>
        </div>
      </div>
      <div class="span3">
        <div class="ctas">
          <!-- Button -->
          <div class="button"><a href="#">Buy it Today for $99</a></div>
          <p>limited period offer</p>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- CTA Ends -->

<!-- Service style #2 starts -->

<div class="container">
  <div class="service-two">
      <div class="row">
        <div class="span12">
          <h4 class="title">Service</h4>
        </div>
         <div class="span3">
            <h5>Nullam in est urna. In  vesti dui ante mosti ecomdo  adipiscing enim. Curabitur rhoncus.</h5>
            <p>Vestilum comdo vestibulum dui ante mostie gridas condimum <a href="#">Risus eget viverra.</a></p>
         </div>
         <div class="span3">
            <!-- Service heading with font awesome icon -->
            <h5><i class="icon-gift"></i> Invitae adipiscing</h5>
            <!-- Service para -->
            <p>Proin porttitor eros a ante moles gravida diam mi vestilum  vesti dui ante mosti ecomdo vestibulum dui ante mostie vestibulum dui ante mostie grida adipiscing rhoncus condimum.</p>
         </div>
         <div class="span3">
            <h5><i class="icon-bullhorn"></i> Proin porttitor</h5>
            <p>Proin porttitor eros a ante moles gravida diam mi vestilum vesti dui ante mostie comdo vestibulum dui ante mostie vestibulum dui ante mostie grida adipiscing rhoncus condimum.</p>
         </div>
         <div class="span3">
            <h5><i class="icon-fire"></i> Mostie comdovesti</h5>
            <p>Proin porttitor eros a ante moles gravida diam mi vestilum vesti dui ante mostie comdo vestibulum dui ante mostie vestibulum dui ante mostie grida adipiscing rhoncus condimum.</p>
         </div>
      </div>
   </div>
   <hr />
</div>

<!-- Service style #2 ends -->

<!-- Recent posts carousel starts -->

<div class="recent-posts">
  <div class="container">
    <div class="row">
      <div class="span12">
        
        <div class="clearfix"></div>
        <ul>
            <!-- Recent posts #1 -->
            <!-- Each carousel should be enclosed inside "li" tag -->
            <li>
                <div class="rp-item span3"> 
                  <!-- Image. -->
                  <div class="rp-image">        
                    <a href="#"><img src="/assets/graduation_000_2.jpg" alt=""/></a>
                  </div>
                  <div class="rp-details">
                    <!-- Title and para -->
                    <h5><a href="#">Graduation Ceremonies </a></h5>

                  </div>                
                </div>        
            </li>
            <!-- Recent posts #2 -->
            <li>
                <div class="rp-item span3"> 
                  <div class="rp-image">        
                    <a href="#"><img src="/assets/wed2.jpeg" alt=""/></a>
                  </div>
                  <div class="rp-details">
                    <h5><a href="#">Wedding Receptions</a></h5>
                            
                  </div>                
                </div>        
            </li>
    
                                                                                  
        </ul>
      </div>
    </div>
  </div>
</div>

<!-- Recent Posts ends -->


<div class="container fsliders">
  <div class="row">

    <!-- Testimonial -->
    <div class="span4">
      <h5>Testimonials</h5>
      <div class="testi-flex flexslider">
        <ul class="slides">
          <!-- Each slider should be enclosed inside li tag -->
          <li>
            <p>Cras enim ipsum luctus at condimentum eleifend. Nullam euismod pelleque condimentum purus libero cursus. Aenean consequat condintum nisi convallis urna.</p>
            <!-- Author name -->
            <p class="author pull-right">- <span class="color">Ashok</span>, CEO</p>
            <div class="clearfix"></div>
          </li>
          <li>
            <p> Nullam in est urna. In vitae condimentum adipiscing enim. Duis eget condimentum risus ac orci sit amet id orci. Etiam ac ante at lorem ultrices elementum.</p>
            <p class="author pull-right">- <span class="color">Ravi Kumar</span>, CTO</p>
            <div class="clearfix"></div>
          </li>
          <li>
            <p>Aenean sodales augue ac lacus hendrerit sed rhoncus erat hendrerit.  Curabitur condimentum lacinia nulla vel tellus elementum non mollis justo aliquam. </p>
            <p class="author pull-right">- <span class="color">Babu</span>, CFO</p>
            <div class="clearfix"></div>
          </li>
          <li>
            <p>Proin porttitor eros a ante molestie gravida commodo dui adipiscing. Mi pretium condimentum dapibus. Nullam in est urna. In vitae adipiscing enim.</p>
            <p class="author pull-right">- <span class="color">Raju</span>, CEO</p>
            <div class="clearfix"></div>
          </li>                
        </ul>
      </div>
    </div>

    <!-- Tabs -->
    <div class="span4">
      <div class="tabs">
        <h5>Tabs</h5>
        <ul class="nav nav-tabs">
          <!-- Use unique name in anchor tag -->
          <li class="active"><a href="#home" data-toggle="tab">Home</a></li>
          <li><a href="#profile" data-toggle="tab">Profile</a></li>
          <li><a href="#messages" data-toggle="tab">Messages</a></li>
        </ul>
        <!-- Tab conten -->
        <div class="tab-content">
          <!-- "ID" should match "href" value in abouve "nav tabs" -->
          <div class="tab-pane active" id="home">In ut nulla est. Sed a  mauris. Duis eget risus ac orci vulputate vestibulum sit amet id orci. Etiam ac ante at lorem  . Fusce  leo vitae velit interdum at laoreet justo ullamcorper.</div>
          <div class="tab-pane" id="profile">Suspendisse id lectus at lorem  posuere. Duis gravida lacus a urna cursus varius. Donec congue odio vitae eros condimentum nec  augue . Integer  enim, porta non  at, ligula.</div>
          <div class="tab-pane" id="messages">Lorem ipsum elit. Duis vulputate eros nec odio egestas in dictum nisi vehicula. Pellentesque habitant morbi tristique senectus et netus et  fames ac turpis egestas.    </div>
        </div>
      </div>
    </div>

    <!-- About -->
    <div class="span4">
      <h5>Our Team</h5>
      <div class="about-flex flexslider">
        <ul class="slides">
          <li>
            <!-- Image, Name and Designation -->
            <h6><img src="/assets/img/photos/user-small.jpg" alt="" class="alignleft" />Ashok, CEO <span class="meta">Info Systems</span></h6>
            <div class="clearfix"></div>
            <hr />
            <!-- Para -->
            <p>Cras enim ipsum luctus at condimentum eleifend. Nullam euismod pelleque purus libero cursus. Aenean consequat condintum nisi convallis urna.</p>
          </li>
          <li>
            <!-- Image, Name and Designation -->
            <h6><img src="/assets/img/photos/user-small.jpg" alt="" class="alignleft" />Ravi Kumar, CTO <span class="meta">Babu Systems</span></h6>
            <div class="clearfix"></div>
            <hr />
            <!-- Para -->
            <p>Duis vulputate eros nec odio egestas in dictum nisi vehicula. Pellentesque habitant morbi tristique senectus et netus et  fames ac turpis egestas. </p>
          </li>
          <li>
            <!-- Image, Name and Designation -->
            <h6><img src="/assets/img/photos/user-small.jpg" alt="" class="alignleft" />Babu Kannan, Manager <span class="meta">Ravi Systems</span></h6>
            <div class="clearfix"></div>
            <hr />
            <!-- Para -->
            <p>Duis eget risus ac orci vulputate vestibulum sit amet id orci. Etiam ac ante at lorem  . Fusce  leo vitae velit interdum at laoreet justo ullamcorper.</p>
          </li>               
        </ul>
      </div>
    </div>
  </div>
</div>

<!-- [Ends] Testimonial (flexslider), About & Twitter Slider (FlexSlider) -->

<!-- Newsletter starts -->

<div class="container newsletter">
  <div class="row">
    <div class="span12">
      <div class="well">
               <h5>Please fill out the below form</h5>
               <p>Nulla facilisi. Sed justo dui, scelerisque ut consectetur vel, eleifend id erat. Morbi auctor adipiscing tempor. Phasellus condimentum rutrum aliquet.</p>
               <form class="form-inline">
                  <div class="controls controls-row">
                    <input class="span2" type="text" placeholder="Name">
                    <input class="span2" type="text" placeholder="Email">
                    <button type="submit" class="btn">Subscribe</button>
                  </div>
               </form>
        <p>If you have any questions, let me know <a href="mailto:something@gmail.com">something@gmail.com</a></p>
      </div>
    </div>
  </div>
</div>

<!-- Newsletter ends -->


<!-- Clients starts -->
  <div class="container">
            <div class="row">
               <div class="span12">
                <!-- Clients images -->
                  <div class="clients">
                     <img src="img/clients/amazon_b.png" alt="" />
                     <img src="img/clients/google_b.png" alt="" />
                     <img src="img/clients/twitter_b.png" alt="" />
                     <img src="img/clients/facebook_b.png" alt="" />
                     <img src="img/clients/skype_b.png" alt="" />
                     <img src="img/clients/youtube_b.png" alt="" />
                  </div>
               </div>
            </div>
  </div>

<!-- Clients ends -->