<h1><a href="http://www.schillmania.com/projects/soundmanager2/" title="Play a page of mp3s with javascript via SoundManager 2">SoundManager 2</a> / page as a playlist, basic template</h1>

 <p>Don't forget to set debugMode = false within <em>inlineplayer.js</em> to disable debug output.</p>

 <div id="sm2-container">
  <!-- SM2 flash goes here -->
 </div>

 <ul class="graphic">

  <li><a href='<%= asset_path('images/5.mp3') %>'>Rain</a></li>
  <li><a href="https://s3-us-west-1.amazonaws.com/namewaves/14.mp3">Walking</a></li>
  <li><a href="http://www.freshly-ground.com/misc/music/carl-3-barlp.mp3">Barrlping with Carl (featureblend.com)</a></li>
  <li><a href="http://www.freshly-ground.com/data/audio/binaural/Mak.mp3">Angry cow sound?</a></li>
  <li><a href="http://www.freshly-ground.com/data/audio/binaural/Things that open, close and roll.mp3">Things that open, close and roll</a></li>
  <li><a href="http://www.freshly-ground.com/misc/music/20060826%20-%20Armstrong.mp3">20060826 - Armstrong</a></li>
  <li><a href="http://freshly-ground.com/data/video/Rain%20on%20Car%20Roof.aac">Rain On Car Roof (AAC Audio)</a></li>
 </ul>

 <p><a href="http://www.schillmania.com/projects/soundmanager2/" title="SoundManager 2 project page">SoundManager 2 project home</a></p>

</div>
'<%= asset_path('jrec/jRecorder.swf') %>'