<div class="container">

<br/>
	<div class="row">
		<div class="col-md-10 col-md-offset-1">
						<header class="centralized">
							<h2>Delivering Polished VoiceGems</h2>
							<img src="<%= asset_path "divider.png" %>" class="divider">
						</header>
				<br/>
				<h3>Our audio processor integration makes it easy, automatically delivering the highest-possible quality VoiceGems for you to download and mix!</h3>
				<br/>
				<p>A key benefit of VoiceGems is its ease of use and accessibility: anyone can record personal messages from the privacy and comfort of their own laptops or mobile phones. But there can be a trade-off for convenience: latops and mobile phones aren't professional recording devices, which means that quality could be compromised.</p> <p> VoiceGems solves this problem by using cutting-edge audio processors to clean up user recordings.</p>
				<br/>

				<h3 class="light-blue">Automatic Cloud-based Audio Processing</h3>
				<br/>

				<p>VoiceGems is now fully integrated with Auphonic's cutting-edge cloud-based audio processing system.  Every recording is automatically treated with the following audio algorithms:</p>
		  </div> 
	</div>

	<div class="row">
		<div class="col-md-6 col-md-offset-1">
				<ul>

					<li><h4 class="light-blue">Noise and Hiss Reduction Algorithm</h4></li>
					<h5>Broadband background noise and hiss (often found in laptop mics) are removed from the audio signal.</h5>
				

					<li><h4 class="light-blue">Hum Reduction Algorithm</h4></li>
					<h5>Power hum and partials are removed from the audio signal.</h5>
				

					<li><h4 class="light-blue">Global Loudness Normalization and True Peak Limiter</h4></li>
					<h5>All processed files have the same average loudness. The default target is set to -16 LUFS.</h5>

				</ul>
				<br/>
				<h4><i class="icon-volume-up icon-white"></i>Listen to Auphonic <a href="https://auphonic.com/audio_examples" target="_blank"><em>audio examples</em></a>.</h4>
				<br/><br/><br/>
				

				<br/>
	    </div>


	  <div class="col-md-5 ">
	  
	 		<img src="<%= asset_path "Auphonic.png"%>" class="img-responsive img-thumbnail blue-border" alt="Responsive image">
	  </div>
	</div>

</div>