
<script>

$(document).ready(function () {
  location.hash && $(location.hash + '.collapse').collapse('show');
});

</script>

<!-- Page heading starts -->

<div class="page-head">
  <div class="container">
    <div class="row">
      <div class="span12">
        <h2><span class="purple">Frequently Asked Questions </span></h2>
      </div>
    </div>
  </div>
</div>

<!-- Page Heading ends -->
<br/>
<!-- Page content starts -->
<div class="container">

<div class="content">
  <div class="container">
    <div class="row">
      <div  class="span8 offset2">
       <!-- FAQ -->
              <div class="accordion biggertext" id="accordion2" >
                 <!-- Each item should be enclosed inside the class "accordion-group". Note down the below markup. -->

                 <!-- First Accordion -->
                <div class="accordion-group">
                  <div class="accordion-heading">
                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne">
                       <!-- Title with experience details. -->
                      <h4>Is  User Information Given or Sold to any Third Parties?</h4>
                    </a>
                  </div>
                  <div id="collapseOne" class="accordion-body collapse">
                    <div class="accordion-inner">
                       <!-- Details about job -->
                      <p>Not at all.  We keep all user information, including names, emails, and any other personal information, strictly confidential.  Email addresses may be used for NameCoach related communication (for example, requesting a name recording), but is not given to any third party.   Our business model is based on the unique value our recording service provides, not the value of student or user information. </p>
                    </div>
                  </div>
                </div>




                <!-- Sixth Accordion -->
                <div class="accordion-group">
                  <div class="accordion-heading">
                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseSix">
                      <h4>Is Every Student/Attendee Supposed to Record their Name?</h4>
                    </a>
                  </div>
                  <div id="collapseSix" class="accordion-body collapse">
                    <div class="accordion-inner">
                      <p>Not usually.  Many names are straightforward, and existing procedures work just fine.  But for many names, teachers/announcers/MC's benefit a great deal from hearing the recording.  The idea is to give your students/attendees the option to record if they, or the person saying their name, are concerned about getting that name right! </p>

                    </div>
                  </div>
                </div>  


                 <!-- Seventh Accordion -->
                <div class="accordion-group">
                  <div class="accordion-heading">
                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseSeven">
                      <h4>I’d Like to Purchase the Service, but How do I Give Teachers/Announcers/MCs Access to a Name Page?</h4>
                    </a>
                  </div>
                  <div id="collapseSeven" class="accordion-body collapse">
                    <div class="accordion-inner">
                      <p>It's easy!  On your Name Page, just go to the 'Admins' tab.  You can give someone access in two ways:
                      <ol>

                        <li> Enter their email and click 'Invite Admin' </li>
                        
                        -or-
                 
                        <li>Give them the Admin Code for your event (displayed in your Admins tab), and ask them to register with it at <a href="www.name-coach.com">www.name-coach.com</a> (they need to click on the 'Invited to Admin?' link). </li>
                        </ol>
                        
                        Note: Only admins have access to the Admins tab.
                    </p>
                    <p> People can also view a 'read-only' version of your Name Page, from which they can hear name recordings. The link to this 'read-only' verion is available on your Name Page - just give it to whomever needs to learn the names.
                    </p>
                    </div>
                  </div>
                </div>  


               <!-- Eighth Accordion -->
                <div class="accordion-group">
                  <div class="accordion-heading">
                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseEight">
                      <h4>How do I Get Individuals to Record Their Names?</h4>
                    </a>
                  </div>
                  <div id="collapseEight" class="accordion-body collapse">
                    <div class="accordion-inner">
                      <p>We provide two options to make things super-easy to use and integrate into existing procedures you may have:
                      <ol>

                        <li> An Admin can request recordings individually, by entering an email address and clicking 'Send Name Request' on your Name Page.  The email generated contains a link to the online recorder for your Name Page.</li>
                        
                        -or-
                 
                        <li>Or, an Admin can distribute the recording link for your Name Page. The link is displayed on your Name Page.  Just copy and paste into a mass email, or into your own webpage (for example, the instructions page for your commencement, or school website, or wedding website).   Individuals can click to record for your Name Page if they wish!</li>
                        </ol>
               
                    </p>

                    </div>
                  </div>
                </div>  

                         <!-- Fourth Accordion -->
                <div class="accordion-group">
                  <div class="accordion-heading">
                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseFour">
                      <h4>What if We Already Use Namecards/Phonetic Spellings?</h4>
                    </a>
                  </div>
                  <div id="collapseFour" class="accordion-body collapse">
                    <div class="accordion-inner">
                      <p>NameCoach is designed to either supplement or replace your existing procedures, including the use of namecards.   People have a much easier time pronouncing names correctly when they've also had time to hear and practice names ahead of time. </p>

                      <p>The individuals's name and phonetic spelling will also be displayed next to their name-recording, and Admins can enter their own notes/phonetic spellings so that they have a truly accurate and effective way to recall the pronunciation when on-the-spot. </p>

                    </div>
                  </div>
                </div>  



             <!-- Fifth Accordion -->
                <div class="accordion-group">
                  <div class="accordion-heading">
                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseFive">
                      <h4>What if We Already Record Names via Voicemail or Smartphone?</h4>
                    </a>
                  </div>
                  <div id="collapseFive" class="accordion-body collapse">
                    <div class="accordion-inner">
                      <p>Since individuals have a much easier time recording via the web than dealing with a voicemail system, you are much more likely to get the recordings you need.  And teachers/announcers/MC's have an even easier time collecting and listening to recordings: just give out a single link to your students/attendees, and play back all recordings on one easy-to-use webpage (with names and pronunciation notes already displayed next to the recordings). </p>

                    </div>
                  </div>
                </div>  

                                <!-- Second Accordion -->
                <div class="accordion-group">
                  <div class="accordion-heading">
                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo">
                      <h4>Can We Have Students Record their Names at a School Event?</h4>
                    </a>
                  </div>
                  <div id="collapseTwo" class="accordion-body collapse">
                    <div class="accordion-inner">
                      <p>Absolutely.  The service is completely web-based, and can be used at school computers to get students recording during school events (such as graduation practices).  Many schools opt to do this at orientation or practice commencement events. Just be sure to instruct each student to log out when they are done recording! (For privacy and security purposes, every user is logged in, and given a temporary password and opportunity to set their own password.)</p>
                    </div>
                  </div>
                </div>


               <!-- Ninth Accordion -->
                <div class="accordion-group">
                  <div class="accordion-heading">
                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseNine">
                      <h4>Why is NameCoach Lower Cost than Competitor Services?</h4>
                    </a>
                  </div>
                  <div id="collapseNine" class="accordion-body collapse">
                    <div class="accordion-inner">
                      <p>Similar services charge up to $300 for just one event.  While many institutions are willing to budget those line-items for important purposes, we keep costs low by adhering to the philosophy that simpler works better here. </p>

                       <p>For example, we don't use text-to-voice or voice-to-text algorithms - the entire point of getting the name right is to directly hear, and reproduce, how the individual says their name, without the mediation of a synthesized voice that inevitably won't faithfully reproduce all pronunciations anyway! </p>

                       <p>Instead, we use ubiquitously-recognized and fully web-based audio-recording and playback technology (rather than a more complicated telecom system). So once more, simple = most cost-effective and high-fidelity. </p>

                       <p>Similarly, allowing the announcers to enter their own phonetic spellings/notes, if they desire, allows them to reproduce and recall the recorded pronunciations in whatever way is easiest for them. </p>

                       <p>In sum, our unique solution to the pronunciation problem is at once the most user-friendly, cost-effective, and hi-fidelity!</p>
                    </div>
                  </div>
                </div>  


               <!-- Tenth Accordion -->
                <div class="accordion-group">
                  <div class="accordion-heading">
                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseTen">
                      <h4>Is Payment Information Secure?</h4>
                    </a>
                  </div>
                  <div id="collapseTen" class="accordion-body collapse">
                    <div class="accordion-inner">
                      <p>Yes. If fact, our entire site uses up-to-date  SSL Encryption (indicated by the padlock icon and https:// prefix in your browser's address bar).  This means that not only payment information, but all user information, is securely handled.  As an added layer of security, we use the <a  href="https://stripe.com/help/security" target="_blank">Stripe</a> payment gateway, and strictly comply with their payment processing protocol.  This means that encrypted payment information (such as credit card numbers) never touch our database, but are instead immediately transmitted to Stripe's state-of-the-art secure processing system. </p>

                    </div>
                  </div>
                </div>  


              <!-- Eleventh Accordion -->
                <div class="accordion-group">
                  <div class="accordion-heading">
                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseEleven">
                      <h4>What is the Refund Policy?</h4>
                    </a>
                  </div>
                  <div id="collapseEleven" class="accordion-body collapse">
                    <div class="accordion-inner">
                      <p>If you are not satisfied with our service for any reason, we provide a 100% refund within 100 days of purchase.  No questions, no hassles.  Just request a refund at info@name-coach.com.  But customers love our service, and we've never needed to give a refund!</p>

                    </div>
                  </div>
                </div>  

              <!-- Twelfth Accordion -->
                <div class="accordion-group">
                  <div class="accordion-heading">
                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseTwelve">
                      <h4>Other Questions? Please Contact Us!</h4>
                    </a>
                  </div>
                  <div id="collapseTwelve" class="accordion-body collapse">
                    <div class="accordion-inner">
                      <p>Please email info@name-coach.com with any questions. We will respond within 1 business day.</p>

                    </div>
                  </div>
                </div>  


              </div><!-- End Accordion 2 -->
        
        </div>

    </div>
  </div>
</div>

<!-- Page content ends -->



</div>