	<h2 >Frequently Asked Questions</h2>

	<div class="panel-group" id="accordion">

		<div class= "question-general">
			<h3>General Questions</h3>
			<div class="panel panel-default">
				<div class="panel-heading">
					<h4 class="panel-title"><a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">What is VoiceGems?</a></h4>
				</div><!-- END PANEL-HEADING -->
				<div id="collapseOne" class="panel-collapse collapse">
					<div class="panel-body">
						VoiceGems is a cloud-based service that allows DJs to connect wedding couples with their guests in a new and meaningful way.
						VoiceGems collects short pre-recorded wedding messages/toasts for DJs to download and blend into their entertainment mix.
					</div><!-- END PANEL-BODY -->
				</div><!-- END COLLAPSE-ONE -->
			</div><!-- END PANEL-DEFALT-->

			<div class="panel panel-default">
				<div class="panel-heading">
					<h4 class="panel-title"><a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo"> How does VoiceGems work? </a></h4>
				</div>
				<div id="collapseTwo" class="panel-collapse collapse">
					<div class="panel-body">
						First, DJs create a VoiceGems Event page. A custom link for that page is shared with guests, family and friends,
						who click the link to record a short meaningful message/toast online. These messages are available on the Event Page,
						where DJs can download and blend them into their music on the day of the event, providing an unparalleled experience.
					</div><!-- END PANEL-BODY -->
				</div><!-- END COLLAPSE-ONE -->
			</div><!-- END PANEL-DEFALT-->

			<div class="panel panel-default">
				<div class="panel-heading">
					<h4 class="panel-title"><a data-toggle="collapse" data-parent="#accordion" href="#collapseThree"> How Do I get my VoiceGems for my next event? </a></h4>
				</div>
				<div id="collapseThree" class="panel-collapse collapse">
					<div class="panel-body">
						If you’re a DJ, its as simple as registering or signing up for a free 30-day trial. You can then set up Event Pages for your clients.
						For couples, send your wedding DJ here to register!
					</div><!-- END PANEL-BODY -->
				</div><!-- END COLLAPSE-ONE -->
			</div><!-- END PANEL-DEFALT-->

			<div class="panel panel-default">
				<div class="panel-heading">
					<h4 class="panel-title"><a data-toggle="collapse" data-parent="#accordion" href="#collapseFour"> What events does VoiceGems support? </a></h4>
				</div>
				<div id="collapseFour" class="panel-collapse collapse">
					<div class="panel-body">
						VoiceGems can be used for any event where you want to Mix Music With Meaning.
						This includes weddings, corporate events, graduation and retirement parties, and anniversary celebrations,
						birthdays, bar-mitzvahs and bat-mitzvahs, and so much more!
					</div><!-- END PANEL-BODY -->
				</div><!-- END COLLAPSE-ONE -->
			</div><!-- END PANEL-DEFALT-->

			<div class="panel panel-default">
				<div class="panel-heading">
					<h4 class="panel-title"><a data-toggle="collapse" data-parent="#accordion" href="#collapseFive"> How many messages/toasts can be recorded and what's the duration of each messages? </a></h4>
				</div>
				<div id="collapseFive" class="panel-collapse collapse">
					<div class="panel-body">
						An unlimited number of messages/toast can be recorded for each event.
						To keep those messages meaningful and easy to integrate, each one is limited to 30 seconds.
					</div><!-- END PANEL-BODY -->
				</div><!-- END COLLAPSE-ONE -->
			</div><!-- END PANEL-DEFALT-->

			<div class="panel panel-default">
				<div class="panel-heading">
					<h4 class="panel-title"><a data-toggle="collapse" data-parent="#accordion" href="#collapseSix"> Is personal info sold to any third parties? </a></h4>
				</div>
				<div id="collapseSix" class="panel-collapse collapse">
					<div class="panel-body">
						Never. We keep all user information, including names, emails, and any other personal information, strictly confidential.
						Email addresses may be used for VoiceGems related communication (for example, requesting a name recording),
						but is not given to any third party.Our business model is based on the unique value our service provides, not the value of user information.
					</div><!-- END PANEL-BODY -->
				</div><!-- END COLLAPSE-ONE -->
			</div><!-- END PANEL-DEFALT-->

			<div class="panel panel-default">
				<div class="panel-heading">
					<h4 class="panel-title"><a data-toggle="collapse" data-parent="#accordion" href="#collapseSeven"> Are all the guests supposed to be invited to record VoiceGems? </a></h4>
				</div>
				<div id="collapseSeven" class="panel-collapse collapse">
					<div class="panel-body">
						VoiceGems gives you the power to decide who you want to participate in this special experience.
						Once an Event Page is created, couples will receive a link that they can send to whomever they want.
					</div><!-- END PANEL-BODY -->
				</div><!-- END COLLAPSE-ONE -->
			</div><!-- END PANEL-DEFALT-->

			<div class="panel panel-default">
				<div class="panel-heading">
					<h4 class="panel-title"><a data-toggle="collapse" data-parent="#accordion" href="#collapseEight"> Do couples get access to the VoiceGems (and for how long)? </a></h4>
				</div>
				<div id="collapseEight" class="panel-collapse collapse">
					<div class="panel-body">
						Yes. VoiceGems are meant to create a lasting memory for couples.
						Not only do they make the event even more special on the big day, but VoiceGems can be cherished for a lifetime.
						VoiceGems are stored on the cloud and available on the Event Page forever.
						To give couples access to the VoiceGems, Dj's can simply add them as an admin from the Admin tab on the Event Page.
						Couples can preview the VoiceGems before the big day if they wish, or wait to make them a surprise.
					</div><!-- END PANEL-BODY -->
				</div><!-- END COLLAPSE-ONE -->
			</div><!-- END PANEL-DEFALT-->

			<div class="panel panel-default">
				<div class="panel-heading">
					<h4 class="panel-title"><a data-toggle="collapse" data-parent="#accordion" href="#collapseNine"> Does VoiceGems work on all devices? </a></h4>
				</div>
				<div id="collapseNine" class="panel-collapse collapse">
					<div class="panel-body">
						Yes. As long as there's a mic, a user can record a VoiceGem via laptop, desktop, or mobile web.
						We should note that while possible on mobile devices,
						managing Event Pages (creating an Event Page, previewing VoiceGems, downloading MP3's, adding another 'admin' for an Event Page)
						is optimized for non-mobile devices.
					</div><!-- END PANEL-BODY -->
				</div><!-- END COLLAPSE-ONE -->
			</div><!-- END PANEL-DEFALT-->

			<div class="panel panel-default">
				<div class="panel-heading">
					<h4 class="panel-title"><a data-toggle="collapse" data-parent="#accordion" href="#collapseTen"> How does VoiceGems ensure recording qualities? </a></h4>
				</div>
				<div id="collapseTen" class="panel-collapse collapse">
					<div class="panel-body">
						VoiceGems is now fully integrated with Auphonic's cutting-edge cloud-based audio processing system.
						Every recording is automatically treated with Noise, Hiss, and Hum Reduction algorithms, as well as Global Loudness
						Normalization and True Peak Limiter, to ensure that every VoiceGem is polished to the highest-possible quality.
					</div><!-- END PANEL-BODY -->
				</div><!-- END COLLAPSE-ONE -->
			</div><!-- END PANEL-DEFALT-->
		</div>

		<div class="questions-DJ">
			<h3>DJ Questions</h3>
			<div class="panel panel-default">
				<div class="panel-heading">
					<h4 class="panel-title"><a data-toggle="collapse" data-parent="#accordion" href="#collapseEleven"> If I purchase more than one event page, do I get any discount? </a></h4>
				</div>
				<div id="collapseEleven" class="panel-collapse collapse">
					<div class="panel-body">
						Yes! Event Pages purchased in bulk receive substantial discounts. DJ's, please register or start a free 30-day trial for more information.
					</div><!-- END PANEL-BODY -->
				</div><!-- END COLLAPSE-ONE -->
			</div><!-- END PANEL-DEFALT-->

			<div class="panel panel-default">
				<div class="panel-heading">
					<h4 class="panel-title"><a data-toggle="collapse" data-parent="#accordion" href="#collapseTwelve"> Is my payment information secure? </a></h4>
				</div>
				<div id="collapseTwelve" class="panel-collapse collapse">
					<div class="panel-body">
						Yes. If fact, our entire site uses up-to-date SSL Encryption (indicated by the padlock icon and https:// prefix in your browser's address bar).
						This means that not only payment information, but all user information, is securely handled.
						As an added layer of security, we use the Stripe payment gateway, and strictly comply with their payment processing protocol.
						This means that encrypted payment information (such as credit card numbers) never touch our database,
						but are instead immediately transmitted to Stripe's industry-standard secure processing system.
					</div><!-- END PANEL-BODY -->
				</div><!-- END COLLAPSE-ONE -->
			</div><!-- END PANEL-DEFALT-->

			<div class="panel panel-default">
				<div class="panel-heading">
					<h4 class="panel-title"><a data-toggle="collapse" data-parent="#accordion" href="#collapseThirteen"> Is there any registration or cancellation fee? </a></h4>
				</div>
				<div id="collapseThirteen" class="panel-collapse collapse">
					<div class="panel-body">
						No. Registering for VoiceGems allows you to create Event Pages and gives you access to special promotions.
						Payment is on a per-event basis.
					</div><!-- END PANEL-BODY -->
				</div><!-- END COLLAPSE-ONE -->
			</div><!-- END PANEL-DEFALT-->

			<div class="panel panel-default">
				<div class="panel-heading">
					<h4 class="panel-title"><a data-toggle="collapse" data-parent="#accordion" href="#collapseForteen"> What happens when my free trial ends and how do I re-activate an Event Page? </a></h4>
				</div>
				<div id="collapseForteen" class="panel-collapse collapse">
					<div class="panel-body">
						At the end of your 30-day free trial, you will not be able to create new Event Pages and all existing pages will be locked.
						To continue using VoiceGems, simply purchase Event Pages. These can be used as credits,
						to create new Event Pages or re-activate ones created during the free trial.
					</div><!-- END PANEL-BODY -->
				</div><!-- END COLLAPSE-ONE -->
			</div><!-- END PANEL-DEFALT-->
		</div><!-- END QUESTIONS-DJ -->

	</div><!-- END PANEL-GROUP -->
