
<br/> <br/> 

<div class="container">

	<div class="row">
		<div class="span10 offset1">
			<h2> Can't click 'Allow'? </h2>
			<hr/>
			<p> On some systems (including newer Macs with retina displays), a long-standing bug in Adobe Flash Player occasionally prevents users from clicking the 'Allow' button when Flash asks for microphone access.  We apologize for if you are encountering this bug, and hope that Adobe fixes this issue soon.  </p> <br/>
			<h3> Please follow these steps to work around the issue on your system: </h3> <br/>
		</div>
	</div>

	<div class="row">			
			<div class="span7 offset2"> 
					<h3>1. Go to the Flash Player <a href="http://www.macromedia.com/support/documentation/en/flashplayer/help/settings_manager06.html" target="_blank">Website Privacy Settings Panel</a>. </h3>
			</div>
	</div>   <br/>
	
	<div class="row">
			<div class="span7 offset2"> 
					 <h3>2. Click on the entry for name-coach.com, and click on 'Always Allow.' </h3>
			</div> <br/>

	</div>
				
	<div class="row">
			<div class="span5 offset3"> 
				<h6> This is how it should appear: </h6>
					
			</div> <br/>

	</div>

	<div class="row">
			<div class="span5 offset3"> 
					<%= image_tag "flash_settings_2.png" %>
			</div> <br/>

	</div>

	<div class="row">
			<div class="span7 offset2"> 
					 <h3>3. Close the Flash Player page and refresh the name-coach.com page where you are attempting to record your name. </h3>
			</div> <br/>

	</div>


</div>