<div class="container">
<div class="row">
	<div class="span3">
<iframe width="1024" height="768" src="http://www.ismyflashworking.com/" style="-webkit-transform:scale(0.5);-moz-transform-scale(0.5);"></iframe>
 </div>
</div>
</div>