<div class="jumbotron">
        <h1>Use NameCoach for Your Commencement Preparation!</h1>
      
  </div>
               
             
             <% flash.each do |key, value| %>
              <div class="alert alert-block alert-<%=key%>"> 
              <button type="button" class="close" data-dismiss="alert">×</button>
              <%= value %> 
              </div>
            <% end %>


 <br/>
 <br/>
 <div class="container">

     <div class="span5 offset3 home-block">
          <div class="grey-box hero-block-2">
              <h2 class="light-blue">Graduation Season Offer</h2>
              <p>The climax of their educational career. Get your graduands recording now to ensure the moment is perfect for them and their families! </p><br/>
              <p>&nbsp;&nbsp;<i class="icon-ok light-blue"></i>&nbsp;&nbsp;Unlimited Recordings per Event</p>
              <p>&nbsp;&nbsp;<i class="icon-ok light-blue"></i>&nbsp;&nbsp;Full Tech and Customer Support</p>
              <p>&nbsp;&nbsp;<i class="icon-ok light-blue"></i>&nbsp;&nbsp;100-day, 100% money-back guarantee. No hassles.</p>
              <a href="<%= grad_new_customer_purchase_path %>" class="btn btn-warning"><i class="icon-shopping-cart"></i>Purchase Service for $75</a>
          </div>
          <div class="tp-bannershadow tp-shadow3"></div>
      </div>

      <br/>
      <br/>


      <div class="row">
    <div class="span8 offset2">
      <h3>It's a tough job.  But with <em>NameCoach</em>, the commencement announcer gets name pronuncations straight from the source, conveniently hearing and practicing them as needed - allowing complete confidence that the names will be said right. </h3>
      <hr/>
    </div>
</div>



<div class="row">
    <div class="span8 offset2">
      <h3><i class="icon-check"></i>&nbsp;Easier, Quicker, and Just Plain Accurate</h3>
      <br/>
      <p> Why is Rosetta Stone so successful? Hearing a word a few times and practicing it, at your own pace, is the <strong>easiest way</strong> to learn to say it right.  And <strong>much quicker</strong> than the alternatives.</p>

    <p>In some cases, it's nearly impossible to learn how to pronounce a name any other way.</p>  
 
      <p>With <em>NameCoach</em>, we are no longer limited to:</p>
    </div>
</div>

<div class="row">
    <div class="span7 offset3">
        <p><i class="icon-ban-circle"></i>&nbsp;Collecting and trying to decipher written phonetic pronuciations - often poorly written, and often not enough to truly pronounce it correctly.</p>
        <p><i class="icon-ban-circle"></i>&nbsp;Trying to learn pronunciations from the graduands just before the ceremony - not enough time, and things are crazy enough! </p>
        <p><i class="icon-ban-circle"></i>&nbsp;Chasing graduands to record their name into a tape-recorder, or sifting through voicemails from those who call.</p>
    </div>
</div>


<div class="row">
    <div class="span8 offset2">
        <p>Limited to these options, time is needlessly spend without even really ensuring the names are right at all! </p>

        <p> <em>NameCoach</em> finally allows you to <strong>save time, avoid headaches, and gain confidence</strong> that each and every graduand will be happy with their moment.</p>
        <hr/>
    </div>
</div>

<div class="row">
    <div class="span8 offset2">
      <h3><i class="icon-check"></i>&nbsp;Honoring the Importance of the Name and the Moment</h3>
      <br/>
      <p> Recent surveys conclude that 72% of all brides say they would have spent more time choosing their reception entertainment, and within one week of the reception, 78% of brides say they would have made this their top priority.*  <strong>Dissatisfied clients mean fewer glowing reviews and referrals.</strong>  And one of the big issues is whether the names were announced correctly - understandably, no client wants their names, or the names of their family and friends, publicly mispronounced on the most important day of their lives!</p>
    </div>
</div>

<div class="row">
      <div class="well well-small span6 offset3">
        <blockquote><em>"...the  selection of a DJ will be among your most important decisions.  The best DJ’s will not only meet with you ahead of time to go over your music choices and how the reception should flow, but will then also actually deliver what you ordered. <strong>Too many DJ’s</strong> (and some bands) dress inappropriately, ignore your song requests, <strong>mispronounce names during the introductions</strong> or blast the music so loud that half of your guests will be congregating outside the ballroom to escape the volume."</em></blockquote>
        <h6>- Waterford Receptions "Words of Wisdom"</h6>
      </div>
</div>

<div class="row">
  <div class="span8 offset2">
    <p>Of course,<strong> it's also understandable that it can be very difficult to get all the names right.</strong>  <em>NameCoach</em> finally makes it easy to meet this challenge.</p>  
 
      <p>Whether you're a wedding planner or DJ, how the names are announced will be an important factor in client satisfaction.</p>
    </div>
 </div>

<div class="row">
  <div class="span8 offset2">
    <p><em><strong>If you're a Wedding Planner...</strong></em></p>
    <div class="span6 offset1">
      <p><i class="icon-ok"></i>&nbsp;Offering this service to clients and contracted DJ's/entertainment ensures the high-touch that sets you apart and gets great reviews and referrals.</p>
      <p><i class="icon-ok"></i>&nbsp;You can offer the <em>NameCoach</em> service to your clients <em>a la carte</em>, or as a standard part of your service, making sure prospective clients know that you are serious about important details that others often overlook.</p>
    </div>
  </div>
</div>

<div class="row">
  <div class="span8 offset2">
    <p><em><strong>The same goes if you're a DJ...</strong></em></p>
    <div class="span6 offset1">
      <p><i class="icon-ok"></i>&nbsp;Plus you save time and make it much easier for yourself to provide that professional touch your clients truly appreciate.</p>
      <p><i class="icon-ok"></i>&nbsp;In your marketing materials, go beyond saying you will get the names right - let your prospective clients know you will <em>ensure</em> this using <em>NameCoach</em>.</p>
    </div>
  </div>
</div>

<div class="row">
      <div class="well well-small span6 offset3">
        <blockquote><em>"Going the extra mile to make everything perfect for you is our priority. Whether it’s checking for your favorite songs, or <strong>making sure we pronounce everybody's name correctly</strong>, making your event as fun and flawless as possible is our mission."</em></blockquote>
        <h6>- O'Dea Entertainment Marketing Materials</h6>
      </div>
</div>

<div class="row">
  <div class="span8 offset2">
    <hr/>
  </div>
</div>

<div class="row">
    <div class="span8 offset2">
      <h3><i class="icon-check"></i>&nbsp;Planning Your Own Wedding?</h3>
      <p> <h5>If your wedding planner or entertainment does not currently use <em>NameCoach</em>, you can purchase a single event page for your wedding and invite your DJ/MC to use it.  It's the best way to make sure the names of those in your Wedding Party are announced correctly on the big day!</h5></p>
     <hr/> 
    </div>
</div>

<div class="row">
  <div class="span8 offset2">
    <hr/>
    <h6>*These statistics were published in St. Louis Bride and Groom Magazine in 2003. Sources include: Simmons, 2001; USA Today, 2002; National Bridal Service, 2001; The Knot, 2002; Brides Magazine, 2001. *Reprinted from www.ADJA.org </h6>
  </div>
</div>

</div>


</div>