<div class="jumbotron">
        <h1>Use NameCoach for Your Commencement Preparation!</h1>
      
  </div>
               
             
             <% flash.each do |key, value| %>
              <div class="alert alert-block alert-<%=key%>"> 
              <button type="button" class="close" data-dismiss="alert">×</button>
              <%= value %> 
              </div>
            <% end %>


 <br/>
 <br/>
 <div class="container">

     <div class="span5 offset3 home-block"  id="why">
          <div class="grey-box hero-block-2">
              <h2 class="light-blue">Graduation Season Offer</h2>
              <p>The climax of their educational career. Get your graduands recording now to ensure the moment is perfect for them and their families! </p><br/>
              <p>&nbsp;&nbsp;<i class="icon-ok light-blue"></i>&nbsp;&nbsp;Unlimited Recordings per Event</p>
              <p>&nbsp;&nbsp;<i class="icon-ok light-blue"></i>&nbsp;&nbsp;Full Tech and Customer Support</p>
              <p>&nbsp;&nbsp;<i class="icon-ok light-blue"></i>&nbsp;&nbsp;100-day, 100% money-back guarantee. No hassles.</p>
              <a href="<%= grad_new_customer_purchase_path %>" class="btn btn-warning"><i class="icon-shopping-cart"></i>Purchase Service for $75</a>
          </div>
          <div class="tp-bannershadow tp-shadow3"></div>
      </div>

      <br/>
      <br/>


 <div class="row">
    <div class="span8 offset2">
      <h3>It can be a tough job.  But with <em>NameCoach</em>, the commencement announcer gets name pronuncations straight from the source, conveniently hearing and practicing them as needed - allowing complete confidence that the names will be said right. </h3>
      

    </div>
</div>


<div class="row">
    <div class="span8 offset2">
      <br/>
        <div class="text-divider6">
          <span></span>
        </div>
      <h3><i class="icon-check"></i>&nbsp;Easier, Quicker, and Just Plain Accurate</h3>
     
      
      <p> Why is Rosetta Stone so successful? Hearing a word a few times and practicing it, at your own pace, is the <strong>easiest way</strong> to learn to say it right.  And <strong>much quicker</strong> than the alternatives.</p>

    <p>In some cases, it's nearly impossible to learn how to pronounce a name any other way.</p>  
 
      <p>With <em>NameCoach</em>, we are no longer limited to:</p>
    </div>
</div>

<div class="row">
    <div class="span7 offset3">
        <p><i class="icon-ban-circle"></i>&nbsp;Collecting and trying to decipher written phonetic pronuciations - often poorly written, and often not enough to truly pronounce it correctly.</p>
        <p><i class="icon-ban-circle"></i>&nbsp;Trying to learn pronunciations from the graduands just before the ceremony - not enough time, and things are crazy enough! </p>
        <p><i class="icon-ban-circle"></i>&nbsp;Chasing graduands to record their name into a tape-recorder, or requesting and sifting through voicemails.</p>
    </div>
</div>


<div class="row">
    <div class="span8 offset2">
        <p>Limited to these options, time is needlessly spent without even really ensuring the names are right at all! </p>

        <p> <em>NameCoach</em> finally leverages useful web advances to <strong>save time, avoid headaches, and gain confidence</strong> that each and every graduate will be happy with their moment.</p>
       
    </div>
</div>

        

<div class="row">
    <div class="span8 offset2">
      <br/>
       <div class="text-divider6">
          <span></span>
        </div>
      <h3><i class="icon-check"></i>&nbsp;Honoring the Importance of the Name and the Moment</h3>
      <br/>
      <p>The commencement ceremony honors the graduate in front of family and friends, recognizing a major life milestone. The climax is the moment their name is announced, and they begin striding across the stage, family applauding or proudly looking on.<p> <p><strong>Each graduate's brief span of public recognition is priceless.</strong></p>   
      <p>But all too often, and despite best efforts, <strong>the once-in-a-lifetime moment is marred with the mispronunciation of their name</strong> - a kind of unintentional lack of personal recognition that can alienate and disappoint.  After all, it's their name, and their family's name, that identifies this moment as a celebration of <em>their</em> invidividual achievement.</p>

    </div>
</div>

<br/>

<div class="row">
  
      <div class="well well-small span4 offset2">
        <h4>From the perspective of a graduate:</h4>
        <blockquote><em>I still remember my high school graduation and how my vice principal butchered my name. He had no excuse, especially since he had the phonetic spelling written on a notecard AND we practiced the day before. He called my name and the only reason I know it was mine is because I was next in line. I might have looked around momentarily for the person who he just called.
       </em></blockquote>
        <h6>- Yoruba Ajayi</h6>
      </div>


      <div class="well well-small span3">
        <h4>And another:</h4>
        <blockquote><em>Graduating is one of those special moments that only happen in once a lifetime, and when it was my turn to walk -the announcer mispronounces my surname. All of my happy feelings [disintegrated] but I walked the stage with a fake smile on my face.
       </em></blockquote>
        <h6>- anonymous</h6>
      </div>

</div>



<br/>

<div class="row">
  <div class="span8 offset2">
    <p>Of course, it goes without saying that <strong>it can be very difficult to get all the names right.</strong> With large and diverse student populations, many with uncommon, difficult, or even deceptively simple names, <strong> preventing such disappointment has traditionally been a painstaking task... </strong>
    </div>
 </div>

<br/>

<div class="row">
  
      <div class="well well-small span7 offset2">
        <h4>From the perpsective of an announcer:</h4>
        <blockquote><em>...the puzzles occupy my time in the run-up to commencement. Is the surname "Couture," as in "haute couture," or as in "Koo-cher"? "Edel-stine," or "-steen"? Is a student's first name "Tar-a" or "Tear-a"? And so on.<br/>
        <br/><strong>Often it's a matter of identity.</strong> One of our finest and best-known students surprised me with the revelation that she had stoically endured the mispronunciation of her name through four honor-filled years. Yet, because her French-Canadian roots were so meaningful to her, <strong>she appreciated being asked about her name so that her identity might be properly expressed as she walked across the platform.</strong><br/>
        <br/><strong>That example could be multiplied many times.</strong> So I e-mail students and faculty, request voicemails, check with advisers, corner folks in the dining hall. I make phonetic notes on alphabetical lists of possible attendees and transpose them to the "walker" cards that students hand me before crossing the stage. <strong>Technology? Using it will have to await a future year. Right now the task is to try and get it right for the moment.</strong><br/>
        <br/>No doubt, many of you who are reading this take similar pains. The reason is not because it matters in some ultimate existential or intellectual sense, or because it is part of our job descriptions. <strong>We do so, rather, because what matters is to model painstaking preparation and hard work to our students and to make the academic ritual special for them and their families.</strong>

       </em></blockquote>
        <h6>- Daniel Regan, Johnson State College <a href="http://chronicle.com/article/I-Now-Pronounce-You-Graduated/127939/" target="_blank">(Chronicle of Higher Education) </a></h6>
      </div>
</div>


<div class="row">
  <div class="span8 offset2">
     <br/>
       <div class="text-divider6">
          <span></span>
        </div>
    <h4> Technology has finally caught up.  <em>NameCoach</em> makes it simple, leveraging useful web advances to <strong>save time, avoid headaches, and gain confidence</strong> that each and every graduate and family will be happy with their big moment...  
  </div>
</div>

<div class="row">
  <div class="span4 offset4 hero-block-2">
      <a href="<%= grad_new_customer_purchase_path %>" class="btn btn-warning btn-large span3"></i>Try it Today!&nbsp;&nbsp;<i class="icon-chevron-right"></i><i class="icon-chevron-right"></i></a> 
  </div>
</div>
<div class="row">
  <div class="span4 offset4 hero-block-2">
       <p><i class="icon-ok-sign light-blue"></i>&nbsp;100-day, 100% money-back guarantee. No hassles.</p>
  </div>
</div>
<br/>




</div>