
<div class="container">

    <br/><br/><br/><br/>

      <div id="bg">
          <center><%= image_tag("wedding.jpg", alt: "Rails", class: 'gold_image' ) %></center>
      </div>

    <br/><br/><br/><br/><br/><br/><br/><br/>

    <span id="DJButton"><a href="#">DJ</a></span>
    <span id="CoupleButton"><a href="#">COUPLE</a></span>

    <br/><br/><br/><br/><br/><br/><br/><br/>

                  
</div> 