


<div class="container">

<br/>
<br/>

<div class="row">
  <div class="col-md-9 col-md-offset-1">
    <h2> <i class="fa fa-magic"></i>&nbsp;&nbsp;<span class="light-blue" id="how">What are VoiceGems?</span></h2>
  </div>

</div>

<div class="row">
  <div class="col-md-11 col-md-offset-1">
            <div class="text-divider6">
          <span></span>
        </div> 
  </div>

</div>

 <div class="row biggertext">

    <div class="col-md-6 col-md-offset-2">
    
      <br/>
        <h4>VoiceGems are short pre-recorded toasts or voice-messages from friends and family which you can blend into your reception entertainment.</h4> <br/>
        <h4>It's a great way to add a unique, magical touch to your clients' wedding receptions! </h4><br/>
        <h5>(VoiceGems is a brand new service, currently in private BETA.)</h5>
 </div>


<div class="col-md-3 col-md-offset-1"><img src="/assets/wedding-photo.png" alt=""/></div>

</div>

<br/>

 <div class="row biggertext">
    <div class="col-md-11 col-md-offset-1">

      <h2> <i class="fa fa-cogs"></i>&nbsp;&nbsp;<span class="light-blue" id="how">How It Works</span></h2>
        <div class="text-divider6">
          <span></span>
        </div> 
        
        <div class="content process biggertext">

          <div class="row">
             <div class="col-md-8 col-md-offset-1">
                 <div class="process-meta fl-left">
                   <span>1</span>
                 </div>
               
                  <br/>
                 <span class="ph3">&nbsp;&nbsp;&nbsp;Share a Link with Guests, Friends & Family</span>&nbsp;&nbsp;
                  <br/>
                  &nbsp;&nbsp;&nbsp;<span class="help-block">(or enter emails to send personal invites)<span> <br/>  
                  
              </div> 
          </div>

          <div class="row">
            <div class="col-md-7 col-md-offset-2">
              <hr/>
              <span class="biggerlink">Demo Link&nbsp;<i class="fa fa-caret-right"></i>&nbsp;&nbsp;<a href="<%= @url%>" target="_blank">Please record your VoiceGem for the Jones-Ravenwood wedding here!</span></a>
              <hr/>
            </div>
          </div>
    
          <div class="row">
             <div class="col-md-8 col-md-offset-1">
                 <div class="process-meta fl-left">
                   <span>2</span>
                 </div>
               
                  <br/>
                 <span class="ph3">&nbsp;&nbsp;&nbsp;They Record Short Messages/Toasts with our Online Voice Recorder</span>&nbsp;&nbsp;
                 <br/>
                  &nbsp;&nbsp;&nbsp;<span class="help-block">(30-second limit on messages. Can be paired with song requests.)</span>   
                
              </div> 
          </div>
          <br/><br/>
         <div class="row">
             <div class="col-md-8 col-md-offset-1">
                 <div class="process-meta fl-left">
                   <span>3</span>
                 </div>
               
                  <br/>
                 <span class="ph3">&nbsp;&nbsp;&nbsp;DJ Blends the VoiceGems into Music for an Unforgettable Event!</span>&nbsp;&nbsp;
                    <br/>
                  &nbsp;&nbsp;&nbsp;<span class="help-block">(All VoiceGems downloadable in multiple formats for easy mixing)</span>   
              </div> 
          </div>

        </div>

      </div>
  </div>  


<br/>
<br/>

<div class="row">
  <div class="col-md-9 col-md-offset-1">
    <h2> <i class="fa fa-chevron-right"></i><i class="fa fa-chevron-right"></i><i class="fa fa-chevron-right"></i>&nbsp;&nbsp;<span class="light-blue" id="how2">How to Get Started</span></h2>
  </div>

</div>

<div class="row">
  <div class="col-md-11 col-md-offset-1">
            <div class="text-divider6">
          <span></span>
        </div> 
  </div>

</div>


 <div class="row biggertext">

    <div class="col-md-8 col-md-offset-2">
    
      <h4> If you would like to try out VoiceGems, please send a note to info@voicegems.com (or use the 'Contact Us' link below), and we'll get in touch before the public release to set you up! </h4> 
 </div>

</div>

<br/>
<br/>
<div class="row">
  <div class="col-md-11 col-md-offset-1">
            <div class="text-divider5">
          <span></span>
        </div> 
  </div>

</div>

<br/>



</div>