 
 <br/>f
 <br/>dd
 <div class="container">
	        
        <!--Bronze-->
        <div class="fltlft PlanBox1">
          <div class="PlanBoxHeading">BRONZE</div>
          <div class="PlanBoxContent">
            <ul>
              <li><strong>$ 9 Monthly</strong></li>
              <li>5 Users</li>
              <li>5 Projects</li>
              <li>1 GB Storage</li>
              <li>
                <p class="PlanBoxSignUp"><a href="https://bootstraptoday.com/account/create/8/">SIGN UP</a></p>
              </li>
            </ul>
          </div>
        </div>
        <!--SILVER-->
        <div class="fltlft PlanBox1">
          <div class="PlanBoxHeading">SILVER</div>
          <div class="PlanBoxContent">
            <ul>
              <li><strong>$ 29 Monthly</strong></li>
              <li>20 Users</li>
              <li>20 Projects</li>
              <li>5 GB Storage</li>
              <li>
                <p class="PlanBoxSignUp"><a href="https://bootstraptoday.com/account/create/9/">SIGN UP</a></p>
              </li>
            </ul>
          </div>
        </div>
        
        <!--Gold-->
        <div class="fltlft PlanBoxGold">
          <div class="PlanBoxHeading">GOLD</div>
          <div class="PlanBoxContent">
            <ul>
              <li><strong>$ 49 Monthly</strong></li>
              <li>40 Users</li>
              <li>Unlimited  Projects</li>
              <li>10 GB  Storage</li>
              <li>
                <p class="PlanBoxSignUp"><a href="https://bootstraptoday.com/account/create/10/">SIGN UP</a></p>
              </li>
            </ul>
          </div>
        </div>
        
        <!--Platinum -->
        <div class="fltlft PlanBox1">
          <div class="PlanBoxHeading">PLATINUM </div>
          <div class="PlanBoxContent">
            <ul>
              <li><strong>$ 99 Monthly</strong></li>
              <li>100 Users</li>
              <li>Unlimited Projects</li>
              <li>25 GB Storage</li>
              <li>
                <p class="PlanBoxSignUp"><a href="https://bootstraptoday.com/account/create/11/">SIGN UP</a></p>
              </li>
            </ul>
          </div>
        </div>
        
        <!--Platinum +-->
        <div class="fl-right PlanBox1">
          <div class="PlanBoxHeading">PLATINUM +</div>
          <div class="PlanBoxContent">
            <ul>
              <li><strong>$ 199 Monthly</strong></li>
              <li>Unlimited Users</li>
              <li>Unlimited Projects</li>
              <li>50 GB Storage</li>
              <li>
                <p class="PlanBoxSignUp"><a href="https://bootstraptoday.com/account/create/12/">SIGN UP</a></p>
              </li>
            </ul>
          </div>
          </div>
		<div style="padding-top:10px;clear:both;">
			<h2 align="center">We also offer a free  <a href="https://bootstraptoday.com/account/create/7/">Personal Plan</a> with 2 Users  &amp; 1 Project.</h2>
        </div>


</div>