<br/>
<br/>
<br/>

<div class="container">


<h3>NAMECOACH PRIVACY POLICY</h3>
<hr/>


<h4>INTRODUCTION </h4>

<p>NameCoach is dedicated to providing you with a safe and secure user experience while protecting your privacy and safeguarding your personal information. Accordingly, this Privacy Policy sets out principles established by NameCoach to ensure th confidentiality, accuracy and security of your personal information. The principles contained herein relate to the collection, use, disclosure, accuracy and retention of personal information in the care and control of NameCoach.</p>



<h4>USER INFORMATION</h4>

<p>Personal information is any information about you that is personally identifiable to you, including your name, address, e-mail address, telephone number, age, gender as well as other non-public information associated with the foregoing (collectively, the "Information").  User name recordings are not considered personal information, and personal message recordings are considered personal information.</p>


<p>This site does not collect any Information about individuals except when specifically and knowingly provided by such individuals. By submitting Information to NameCoach, such as by creating an account, you agree to the terms of this Privacy Policy and expressly consent to the processing of your Information in accordance with this Policy</p>

<h4>USE OF INFORMATION BY NAMECOACH</h4>

<p>We may use Information for our own internal purposes, including, but not limited to, processing your registration, providing you with information and contacting you via e-mail. We reserve the right to disclose Information where such disclosure is required by law, considered necessary to prevent or investigate an apparent breach of law, and/or in any other instance where the applicable privacy or other legislation permits such disclosure.</p>
<p>We do not disclose information to commercial third parties, except when authorized by the users.
</p>

<h4>SECURITY</h4>

<p>As we are committed to protecting the security of your Information, we employ a number of security information technologies and procedures designed to help protect your Information from unauthorized access, use and/or disclosure. We will retain your Information for a reasonable period or as long as the law requires. While we endeavour to limit access to your Information, we are not responsible for the retention or use of Information obtained by other third parties who have gained access to our database.</p>

<h4>COOKIES</h4>

<p>We use "cookies" to facilitate your online experience. A "cookie" is a text file that is placed on your hard drive by a web page server. Cookie technology is widely used on the Internet and we use cookies in order to gather information about your use of our site with the intent of making each visit to our site more effective and secure. Cookies cannot be used to run programs or deliver viruses to your computer. Cookies are uniquely assigned to you and can only be read by a web server in the domain that issued the cookie to you. One of the primary purposes of cookies is to ensure that you are authorized to use our website. We never use cookies to store personal information about you.</p>


<h4>LINKS TO OTHER SITES</h4>

<p>We are not responsible for the privacy practices or content of any website to which NameCoach links, nor any site linked to NameCoach. By clicking on a link, logo or other item on the NameCoach site, you may be directed to another website. To check your Internet location at any time, please refer to the URL displayed on your browser.</p>

<h4> AMENDMENTS TO THIS PRIVACY POLICY</h4>

<p>We may update this Privacy Policy from time to time as the need arises. We will post any updated Privacy Policy on this page and we will endeavour to post notice of any amendment to this Privacy Policy 30 days prior to the date on which the amendment will become effective.</p>

<p>Once an amendment to this Privacy Policy becomes effective, your continued use of the NameCoach site after such time will signify your acceptance of such amendment.</p>


<h4>CONTACT INFORMATION</h4>

<p>Should you have any questions about this Privacy Policy or the practices of NameCoach, please contact us at info@name-coach.com.  Effective Date: April 15th, 2013</p>


</div>