
<form id="live-search" action="" class="styled" method="post">
    <fieldset>
        <input type="text" class="text-input" id="filter" value="" />
        <span id="filter-count"></span>
    </fieldset>
</form>

<ol class="commentlist">
  <li>Comment #1 blah</li>
  <li>Comment #2</li>
</ol>

