<br/>
<br/>
<br/>

<div class="container">


<h3>NAMECOACH TERMS AND CONDITIONS</h3>
<hr/>
<p>The following terms and conditions govern all use of the name-coach.com website (the “Website”) and all content, services and products available at or through the Website (collectively and individually, the “Services”). The Website and Services are offered subject to your acceptance, without modification, of all of the terms and conditions contained herein and all other operating rules, policies on this Website (collectively, the "Agreement").</p>

<p>You can accept the terms and conditions by registering as a user on the Website. Before you register, carefully read the terms and conditions. By registering or otherwise accessing the Website, you are indicating that you have read this Agreement, that you understand it, and that you consent to be bound by all its terms and conditions. If you do not agree with all of the terms and conditions herein, then you may not access the Website or use any of its services. The owners and/or administrators of the Website and Services reserve the right to change these terms at any time. We recommend that you periodically check this site for changes.</p>

<h4>USER RECORDINGS</h4>

<p>As a condition to your use of the Website and Services, you are required to submit certain user supplied content, namely, voice recordings and/or other content ("Recordings"). You must have copyright ownership of all Recordings you create for use in conjunction with the Website and Services and hereby grant to the owners of the Website and Services a perpetual, non-exclusive, transferable, assignable, sub-licensable (through multiple tiers), and royalty-free, worldwide license to reproduce, display, perform, distribute, transmit and otherwise use all Recordings, including but not limited to all copyright and all other intellectual property rights in such Recordings now or in the future, in all contexts, formats and media ("IP License"). In addition, you waive all moral rights you have in the Recordings to the fullest extent permitted by law. </p>

<p>When posting, uploading or otherwise providing any Recording to the Website, you hereby represent and warrant, now and in the future, that: (i) you own or otherwise control all necessary rights to so use the Recordings, and your grant of the above license in the Recordings, does not and will not violate third-party rights of any kind, including without limitation any intellectual property rights, rights of publicity and privacy; (ii) your Recordings are not illegal, abusive, deceptive, pornographic, obscene, defamatory, slanderous, offensive, or otherwise inappropriate or harmful to any person (including any minor) or entity; (iii) your Recordings contain no viruses, worms, corrupt files, Trojan horses, or other forms of corruptive code, or any other content which may compromise the Website or Services; (iv) your Recordings do not advocate illegal activity; (v) your Recordings do not contain any content or material that is unlawful, infringes upon the rights of any third party, including copyright, trademark or other personal or proprietary right, or otherwise objectionable; (vi) your Recordings do not link to or otherwise promote any prohibited content or activity. You hereby agree to indemnify and hold harmless the owners of the Website and Services from any and all claims resulting from any Recordings that you supply. In addition to the above, you acknowledge and agree that any Recordings may be accessed, reviewed, stored, reproduced and/or disclosed, as applicable or required by law. The owners of the Website and Services neither endorse nor are responsible for the accuracy or reliability of any Recordings and/or other user supplied content. You take responsibility for Recordings made under your Account and posted, uploaded or otherwise provided to the Website at your own risk.</p>

<h4>Responsibility of Website Visitors</h4>

<p>The owners and/or administrators of the Website have not reviewed, and cannot review, all of the material, posted to the Website, and cannot therefore be responsible for that material’s content, use or effects.</p>

<h4>Intellectual Property (Trademarks &amp; Copyrights)</h4>

<p>NameCoach, the NameCoach logo and the NameCoach design are trademarks or trade dress of the owners of the Website and Services and may not be used without express written permission, other than for attribution, which is required via the display of the NameCoach logo, unless otherwise agreed in writing by the owners of the Website and Services. In addition, you agree that the Website and Services contain proprietary information and material that is owned by the owners of the Website and Services, and are protected by applicable intellectual property and other laws, including but not limited to copyright, trademark and patent, and that you will not use such proprietary information or materials in any way whatsoever except for use of the Website and Services in compliance with the terms of this Agreement. No portion of the Website and Services may be reproduced in any form or by any means, unless expressly permitted hereunder. You further agree not to alter, modify, adapt, create derivative works, translate, deface, decompile, disassemble, or reverse engineer any aspect of the Website and Services.</p>

<h4>Third-party materials</h4>

<p><strong>Your log-in information and email addresses <em>will not</em> be sold or otherwise made available to third parties.</strong> However, content, data, information, or materials from third parties or links to third parties (collectively, “Third-Party Materials”) may be displayed or made available on the Website. By using the Website and Services, you acknowledge and agree that the owners of the Website and Services are not responsible for examining or evaluating the content, accuracy, completeness, timeliness, validity, copyright compliance, legality, decency, quality or any other aspect of such Third-Party Materials or websites. The owners of the Website and Services do not warrant or endorse and do not assume and will not have any liability or responsibility to you or any other person for any third-party services, Third-Party Materials or websites, or for any other materials, products, or services of third parties. Third-Party Materials and links to other websites are provides solely as a convenience to you. You agree that you will not sue any Third-Party Materials in a manner that would infringe or violate the rights of any other party, and that the owners of the Website are not in any way responsible for any such use by you.</p>

<h4>Disclaimer of warranties</h4>

<p>A. YOU EXPRESSLY ACKNOWLEDGE AND AGREE THAT, TO THE EXTENT PERMITTED BY APPLICABLE LAW, USE OF THE website AND SERVICES IS AT YOUR SOLE RISK AND THAT THE ENTIRE RISK AS TO SATISFACTORY QUALITY, PERFORMANCE, ACCURACY AND EFFORT IS WITH YOU.</p>

<p>B. TO THE MAXIMUM EXTENT PERMITTED BY APPLICABLE LAW, THE website AND SERVICES ARE PROVIDED "AS IS" AND “AS AVAILABLE”, WITH ALL FAULTS AND WITHOUT WARRANTY OF ANY KIND, AND the owners of the website and services HEREBY DISCLAIM ALL WARRANTIES AND CONDITIONS WITH RESPECT TO THE website AND SERVICES, EITHER EXPRESS, IMPLIED OR STATUTORY, INCLUDING, BUT NOT LIMITED TO, THE IMPLIED WARRANTIES AND/OR CONDITIONS OF MERCHANTABILITY, SATISFACTORY QUALITY, FITNESS FOR A PARTICULAR PURPOSE, ACCURACY, QUIET ENJOYMENT, AND NON-INFRINGEMENT OF THIRD PARTY RIGHTS.</p>

<p>C. the owners of the website and services do NOT WARRANT AGAINST INTERFERENCE WITH YOUR ENJOYMENT OF THE website AND SERVICES, THAT THE FUNCTIONS CONTAINED IN OR SERVICES PERFORMED BY THE website and services WILL MEET YOUR REQUIREMENTS, THAT THE OPERATION OF THE website AND SERVICES WILL BE UNINTERRUPTED OR ERROR-FREE, THAT ANY SERVICEs WILL CONTINUE TO BE MADE AVAILABLE, THAT DEFECTS IN THE website OR SERVICES WILL BE CORRECTED.</p>

<p>D. NO ORAL OR WRITTEN INFORMATION OR ADVICE GIVEN BY the owner of the website and services or their AUTHORIZED REPRESENTATIVE(s) SHALL CREATE A WARRANTY. </p>

<h5>LIMITATION OF LIABILITY</h5>

<p>TO THE EXTENT NOT PROHIBITED BY APPLICABLE LAW, IN NO EVENT SHALL THE OWNERS OF THE WEBISTE AND SERVICES BE LIABLE FOR PERSONAL INJURY, OR ANY INCIDENTAL, SPECIAL, INDIRECT OR CONSEQUENTIAL DAMAGES WHATSOEVER, INCLUDING, WITHOUT LIMITATION, DAMAGES FOR LOSS OF PROFITS, CORRUPTION OR LOSS OF DATA, FAILURE TO TRANSMIT OR RECEIVE ANY DATA, BUSINESS INTERRUPTION OR ANY OTHER COMMERCIAL DAMAGES OR LOSSES, ARISING OUT OF OR RELATED TO YOUR USE OF OR INABILITY TO USE THE WEBSITE OR SERVICES OR ANY THIRD-PARTY MATERIALS IN CONJUNCTION WITH THE WEBSITE AND SERVICES, HOWEVER CAUSED, REGARDLESS OF THE THEORY OF LIABILITY (CONTRACT, TORT OR OTHERWISE) AND EVEN IF THE OWNERS OF THE WEBSITE AND SERVICES HAVE BEEN ADVISED OF THE POSSIBILITY OF SUCH DAMAGES. SOME JURISDICTIONS DO NOT ALLOW THE LIMITATION OF LIABILITY FOR PERSONAL INJURY, OR OF INCIDENTAL OR CONSEQUENTIAL DAMAGES, SO THIS LIMITATION MAY NOT APPLY TO YOU. In no event shall THE OWNERS OF THE WEBSITE and services total liability to you for all damages (other than as may be required by applicable law in cases involving personal injury) exceed the fees paid by you under this agreement during the twelve (12) month period prior to the cause of action. The foregoing limitations will apply even if the above stated remedy fails of its essential purpose.</p>

<h5>General Representation and Warranty</h5>

<p>You represent and warrant that</p>

<p>A. your use of the Website and Services will be in strict accordance with this Agreement and with all applicable laws and regulations (including without limitation any local laws or regulations in your country, state, city, or other governmental area, regarding online conduct and acceptable content, and including all applicable laws regarding the transmission of technical data exported from the United States or the country in which you reside) and</p>

<p>B. your use of the Website and Services will not infringe or misappropriate the intellectual property rights of any third party.</p>

<h5>Indemnification</h5>

<p>You agree to indemnify and hold harmless the owners of the Website and Services, its contractors, and its licensors, and their respective directors, officers, employees and agents from and against any and all claims and expenses, including attorneys' fees, arising out of your use of the Website and Services, including but not limited to your violation of this Agreement.</p>

<h4>Changes</h4>

<p>The owners and/or administrators of the Website and Services reserve the right, at their sole discretion, to modify or replace any part of this Agreement. It is your responsibility to check this Agreement periodically for changes. Your continued use of or access to the Website and Services following the posting of any changes to this Agreement constitutes acceptance of those changes. The Website may also, in the future, offer new services and/or features through (including, the release of new tools and resources). Such new features and/or services shall be subject to the terms and conditions of this Agreement.</p>

<h4>Termination</h4>

<p>Your access to all or any part of the Website and Services may be terminated at any time, with or without cause, with or without notice, effective immediately. All provisions of this Agreement which by their nature should survive termination shall survive termination, including, without limitation, ownership provisions, warranty disclaimers, indemnity and limitations of liability.</p>

<h4>GENERAL </h4>

<p>This Agreement (as amended from time to time), and any other legal notices on the Website, constitute the entire agreement between the parties with respect to the use of the Website and Services. If a court of competent jurisdiction deems any provision of this Agreement unenforceable, that provision will be enforced to the maximum extent permissible, and the remaining provisions will remain in full force and effect. </p>

<p>The owners of the Website and Services may assign this Agreement, in whole, or in part, at any time, with or without notice to you. You may not assign your rights or delegate your duties under this Agreement, either in whole or in part, without the prior written consent of the owners of the Website and Services. </p>

<p>The division of this Agreement into sections and the insertion of headings are for convenience of reference only and shall not affect the construction or interpretation of this Agreement.</p>

<p>Except to the extent applicable law, if any, provides otherwise, this Agreement, any access to or use of the Website and Services will be governed by the laws of the state of California, U.S.A., excluding its conflict of law provisions, and the proper venue for any disputes arising out of or relating to any of the same will be the state and federal courts located in San Francisco, California. Except for claims for injunctive or equitable relief or claims regarding intellectual property rights (which may be brought in any competent court without the posting of a bond), any dispute arising under this Agreement shall be finally settled in accordance with the Comprehensive Arbitration Rules of the Judicial Arbitration and Mediation Service, Inc. (“JAMS”) by three arbitrators appointed in accordance with such Rules. The arbitration shall take place in San Francisco, California in the English language and the arbitral decision may be enforced in any court. If any part of this Agreement is held invalid or unenforceable, that part will be construed to reflect the parties’ original intent, and the remaining portions will remain in full force and effect. A waiver by either party of any term or condition of this Agreement or any breach thereof, in any one instance, will not waive such term or condition or any subsequent breach thereof. </p>

<h4>CONTACT INFORMATION</h4>

<p>If you have any questions regarding this Agreement, please contact us at info@name-coach.com. Effective Date: February 1, 2013</p>


</div>