<!-- How to 2 starts -->
<div class="content process biggertext">
  <div class="container">
    <div class="row">

        <h2> <i class="icon-cogs"></i>&nbsp;&nbsp;<span class="light-blue" id="how">How NameCoach Works</span></h2>
        <div class="text-divider6">
          <span></span>
        </div> 
        <br/>


                        <div class="span6">
                           <!-- Step 1 -->
                           <div class="onethree-left">
                             <div class="process-meta">
                              <!-- Process number. Like one, two, three -->
                                <span>1</span>
                             </div>
                           </div>
                           <div class="onethree-right">
                            <!-- Title and para -->
                             <h3><i class="icon-edit"></i>&nbsp;Create an Event Page </h3>
                             <p><span>Just enter a name (like 'The Harvard Quincy House Commencement'), and a date for the event.  Your Event Page is ready-to-go.</span></p>
                            
                           </div>
                        </div>

                        <div class="span6">
                           <!-- Step 2 -->
                           <div class="onethree-left">
                             <div class="process-meta">
                                <span>2</span>
                             </div>
                           </div>
                           <div class="onethree-right">
                             <h3><i class="icon-envelope"></i>&nbsp;Invite Other Admins&nbsp;<span class="muted">(optional)</span></h3>
                               <p><span>You will be an 'Admin' for the Event Page: you can request and listen to name recordings, and make others Admins as well (just enter their email.)</p> <p>You might want more than one Admin if, say, one official is copying/pasting the recording link into the webpage/email containing your commencement instructions, and another official will be hearing and announcing the names.</span></p>
                           </div>                        
                        </div>
     </div> 

     <br/><br/>

     <div class="row">                   
                        <div class="span6">
                           <!-- Step 3 -->
                           <div class="onethree-left">
                             <div class="process-meta">
                                <span>3</span>
                             </div>
                           </div>
                           <div class="onethree-right">
                             <h3><i class="icon-link"></i>&nbsp;Invite Individuals to Record Names</h3>
                              <p><span>Admins have two options for requesting names:</span></p>
                                <ol>
                                  <li><span>Give out a unique link (generated for your event) with your general event instructions (e.g., on your commencement webpage). We give you the link and suggested text, just copy and paste!</span></li><br/>
                                  <li><span>Or, enter email addresses to send personal name requests with one click. </span></li>
                                </ol>
                           </div>                       
                        </div> 

                       

                        <div class="span6">
                           <!-- Step 4 -->
                           <div class="onethree-left">
                             <div class="process-meta">
                                <span>4</span>
                             </div>
                           </div>
                           <div class="onethree-right">
                              <h3><i class="icon-volume-up"></i>&nbsp;Individuals Record their Names</h3>
                              <p>Whichever method you use, individuals click a link to record their names using our online voice-recorder. </p><p> They can also enter exactly how they want to be announced (middle names, nicknames), and notes to help with pronounciation ('last name rhymes with.. ') or phonetic spellings.</p>
                           </div>
                        </div>

       </div>

       <br/><br/>

       <div class="row">
                        <div class="span6">
                           <!-- Step 5 -->
                           <div class="onethree-left">
                             <div class="process-meta">
                                <span>5</span>
                             </div>
                           </div>
                           <div class="onethree-right">
                             <h3><i class="icon-play-circle"></i>&nbsp;Hear and Practice Names!</h3>
                              <p><span>After an individual records their name, Announcers/Admins can hear those names on the Event Page and see any pronunciation notes. They can also enter their own helpful notes.</span></p>   
                           </div>                        
                        </div>

                        <div class="span6 home-block">

                          <div class="grey-box hero-block-2">
                              <h3 class="light-blue">We Make it Easy to Make their Once-in-a-Lifetime Moments Perfect.  Try it Today!</h3>
                              <a href="<%= demo_event_page_path %>" target="_blank" class="btn btn-primary">Demo Event Page</a>&nbsp;&nbsp;<a href="<%= graduations_path%>.htm#why" target="_blank" class="btn btn-primary">Why Use NameCoach?</a>&nbsp;&nbsp;<a href="<%= grad_new_customer_purchase_path %>" class="btn btn-warning"><i class="icon-shopping-cart"></i>Purchase Service for $149</a>
                          </div>
                         <div class="tp-bannershadow tp-shadow1"></div>
                      </div>


    </div>
    
    <br/><br/>

    <div class="row">
      <div class="text-divider5">
       <span></span>
       </div>  
    </div>

  </div>
</div>

<!-- How to 2 ENDS -->