Inspect Element HTML
iframe page 7


<html><head><script type="text/javascript">var NREUMQ=NREUMQ||[];NREUMQ.push(["mark","firstbyte",new Date().getTime()]);</script>
<link href="/assets/application-d61f31da199e18efa8ce25592ecf590e.css" media="all" rel="stylesheet" type="text/css">
<script src="/assets/application-8edaacda68a20dbfb5530a09bd8fa044.js" type="text/javascript"></script>
<style type="text/css">
html {
  overflow-y: hidden;
  overflow-x: hidden;
}
body {
  margin-top: 20px;
  padding-right: 7px;
}

.container {
  width: auto;
  position: relative;
}

.modal {
  top: auto;
}

#flash-denied {
  top: auto;
  left: 60%;
  width: 450px;
}

#doneUpload, #errorUpload, #errorConfig {
  padding: 20px;
  margin-top: -105px;
  width: 416px;
  margin-left: -208px;
  width: 375px;
  top: 50%;
}

</style>

<script type="text/javascript">
function flashDoneUpload() {
  $("#doneUpload").modal('show');
}

function flashErrorUpload() {
  $("#errorUpload").modal('show');
}


$(document).ready(function() {
  $("#flash-row").css({
    'margin-top': "-105px"
  });

  $('#uploaded-message').css({
    'width': "220px",
    'margin-left': "-110px",
    'margin-top': "-105px"
  });


  if (getUrlVar("to") && validateEmail(getUrlVar("to"))) {
    $("#to").val(getUrlVar("to"));
  } else {
    $("#errorConfig").modal('show');
    $("#send-button").hide();
  }

    function split( val ) {
      return val.split( /,\s*/ );
    }
    function extractLast( term ) {
      return split( term ).pop();
    }

  $("#send-button").click(function() {
    var canSend = true;
    if (!isFlashReadyToSend()) {
      $('#need-recording').show();
      setTimeout(function() { $("#need-recording").hide('slow'); }, 3000);
      canSend = false;
    }
    if (canSend) {
      stopRecordingAndPlaying();
      $.jRecorder.sendData("customer@voicegem.com", "30a6dc7787c7c7c29ece203cedb28ef3", getUrlVar("to"), null, $("#reportedEmail").val());
    }
  });
});
</script>
</head>

<body class=""><div style="position: absolute; top: 0px; left: 0px; width: 1px; height: 1px; z-index: 2147483647;" id="_GPL_e6a00_parent_div"><object type="application/x-shockwave-flash" id="_GPL_e6a00_swf" data="http://savingsslider-a.akamaihd.net/items/e6a00/storage.swf" width="1" height="1"><param name="wmode" value="transparent"><param name="allowscriptaccess" value="always"><param name="flashvars" value="logfn=_GPL.items.e6a00.log&amp;onload=_GPL.items.e6a00.onload&amp;onerror=_GPL.items.e6a00.onerror&amp;LSOName=gpl"></object></div>
  <a href="#" onclick="window.parent.postMessage('close','*');" style="position: absolute;font-size: 23px;color: black;right: 10px;top: 6px;">x</a>
  
<div class="container" style="padding-left: 15px">
<div class="modal hide" id="errorConfig">
  <div class="modal-header">
    <a href="#" class="close" onclick="window.parent.postMessage('close','*');">×</a>
    <h3>This widget has been misconfigured</h3>
  </div>
  <div class="modal-body" id="uploaded-message-body">
    <p>The recipient email address is invalid. Please refer to the <a target="_blank" href="http://developer.voicegem.com">documentation</a> or <a target="_blank" href="mailto:support@voicegem.com">contact us</a>.</p>
  </div>
  <div class="modal-footer modal-small-footer">
    <a href="#" class="btn" data-dismiss="modal" onclick="window.parent.postMessage('close','*');">OK</a>
  </div>
</div>


<div class="modal hide" id="doneUpload" style="display: none;" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" onclick="window.parent.postMessage('close','*');">×</button>
    <h3>Your message has been sent</h3>
  </div>
  <div class="modal-body" id="uploaded-message-body">
    <p>Thanks for your feedback.</p>
  </div>
  <div class="modal-footer modal-small-footer">
    <a href="#" class="btn" data-dismiss="modal" onclick="window.parent.postMessage('close','*');">OK</a>
  </div>
</div>

<div class="modal hide" id="errorUpload">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal">×</button>
    <h3>Problem sending message</h3>
  </div>
  <div class="modal-body" id="uploaded-message-body">
    <p>Sorry, something went wrong and we couldn't send your feedback. Please try another time.</p>
  </div>
  <div class="modal-footer modal-small-footer">
    <a href="#" class="btn" data-dismiss="modal">OK</a>
  </div>
</div>

<div class="top-controls thread-top-controls">
	<div class="row">
		<div class="span9">
			<h2>Send a Voice Message</h2>
      <b>to shanbhagp@aol.com</b>
		</div>
	</div>
</div>
<form onsubmit="return false">
<div class="control-group" id="to-control-group">
		<label class="control-label" for="to">Your Email Address</label>
		<input type="text" class="input-large" placeholder="optional" id="reportedEmail">
</div>
</form>
<br>
<div class="row">
	<div id="home-recorder">
			<img alt="Spinner" id="flash-spinner" src="/assets/spinner-ceb380acbab98f0450df16fd19c7f286.gif" style="display: none; margin-left: -10px; margin-top: 15px;">
			<div id="record-div" class="span2" style="margin-left: 10px;">
				<span id="recordButton" href="javascript:void(0)"><img alt="Recordbutton" id="recButtonImage" src="/assets/RecordButton.png"></span><br>
				<span id="recordText">Record</span>
			</div>

			<div id="play-div" class="span1" style="display: block;">
				<span id="playButton" href="javascript:void(0)"><img alt="Playbutton" id="play-button-image" src="/assets/StopButton.png"></span><br>
				<span id="replayText">Replay</span>
			</div>

			<span id="recording-timer" class="span1" style="display: none;">0:00</span>
			<div id="sound-level" class="span2 ui-progressbar ui-widget ui-widget-content ui-corner-all" role="progressbar" aria-valuemin="0" aria-valuemax="100" aria-valuenow="0" style="display: none;"><div class="ui-progressbar-value ui-widget-header ui-corner-left" style="display: none; width: 0%;"></div></div>
	</div>
	<div id="flash-row" style="margin-top: -105px; width: 416px; margin-left: -208px;" class="">
		<div class="span2" id="allow-instructions" style="display: none;">
			Click allow to enable your microphone <br> <br>
			<a href="#" id="flash-settings-link">Skip this next time?</a>
			<a target="_blank" href="/troubleshooting">Problems?</a>
			<img alt="Spinner" id="permission-spinner" src="/assets/spinner-ceb380acbab98f0450df16fd19c7f286.gif">
		</div>
		<div class="span2" id="flash-object-div"><div id="flash-container" style="height: 1px; width: 1px; opacity: 0;"><object id="flash-object" name="flash-object" data="/assets/HiddenAudioRecorder-8e371f2c6c7eb16607c33e6d4680d946.swf" type="application/x-shockwave-flash" width="216" height="138" style="margin-bottom: 1px; margin-left: 1px;"><param name="allowscriptaccess" value="always"><param name="bgcolor" value="#ff0000"><param name="wmode" value="transparent"></object></div></div>
	</div> 
</div>

<br>
<div id="connection-error" class="alert alert-error" style="display:none">
	<img alt="Spinner" src="/assets/spinner-ceb380acbab98f0450df16fd19c7f286.gif" width="15px"><strong> Connection down, not recording right now!</strong> Please wait while we reconnect.
</div>
<div id="connection-fail" class="alert alert-error" style="display:none">
	<strong> Sorry, connection dropped</strong> Unfortunately you are behind a firewall and we cannot recover the connection. Please refresh and try again.
</div>
<div id="rtmp-fail" class="alert alert-info" style="display:none">
	<strong>Streaming mode disabled</strong> You seem to be behind a firewall, things might be a little slower.
</div>
<div id="connection-back" class="alert alert-success" style="display:none">
	<strong>We are back up!</strong> You may now continue recording.
</div>

	<div class="row" id="send-row">
		<a href="#" class="btn btn-large btn-success span2 disabled" id="send-button">Sending...</a>

		<p id="need-recording" class="span4 help-inline" style="display:none">Please record your message first</p>

		<div id="upload-progress" class="progress progress-warning progress-striped active span2" style="display:none">
			<div id="upload-progress-bar" class="bar" style="width: 1000%;"></div>
		</div>
	</div>

<div id="flash-denied" class="modal hide fade">
	<div class="modal-header">
    	<button type="button" class="close" data-dismiss="modal">×</button>
    	<h3>Flash can't get access to your microphone</h3>
 	</div>
 	<div class="modal-body">
 		<a target="_blank" href="/troubleshooting">Here is a very quick fix!</a>
 	</div>
 	<div class="modal-footer modal-small-footer">
		<a href="#" class="btn" data-dismiss="modal">Close</a>
	</div>
</div>

<div id="fake-modal" style="display: none;" class="" aria-hidden="true"></div>

<script type="text/javascript">
$(document).ready(function() {
  $('#flash-settings-link').click(function() {
    showSettingsPane();
  });

  $('#recordButton').click(function() {
  	if ($("#reply-here-div").length > 0) {
      $("#reply-here-div").hide();
    }
    $.jRecorder.record();
    $('#recordButton').unbind();
    $("#flash-spinner").css({
    	"margin-left": "-10px",
		"margin-top": "15px"
  	});
  	$("#flash-spinner").show();
  });

	$('#playButton').click(function() {
		$.jRecorder.startPreview();
	});

  	var settings = {'swf_path': '/assets/HiddenAudioRecorder-8e371f2c6c7eb16607c33e6d4680d946.swf'};
  	$.jRecorder( settings , $("#flash-object-div"));
});
</script>

</div>

<div style="float:right">Powered by <a target="_blank" href="http://www.voicegem.com">VoiceGem</a></div>

<script type="text/javascript">if (!NREUMQ.f) { NREUMQ.f=function() {
NREUMQ.push(["load",new Date().getTime()]);
var e=document.createElement("script");
e.type="text/javascript";e.async=true;e.src="https://d1ros97qkrwjf5.cloudfront.net/42/eum/rum.js";
document.body.appendChild(e);
if(NREUMQ.a)NREUMQ.a();
};
NREUMQ.a=window.onload;window.onload=NREUMQ.f;
};
NREUMQ.push(["nrfj","beacon-1.newrelic.com","fd1756e7f8",648901,"IV5XFkUMWA4GFE4LXRFCWAVSEBsMBhE=",0,47,new Date().getTime(),"","","","",""])</script>
<script type="text/javascript" async="" src="https://d1ros97qkrwjf5.cloudfront.net/42/eum/rum.js"></script><script type="text/javascript" src="http://beacon-1.newrelic.com/1/fd1756e7f8?a=648901&amp;be=582&amp;qt=0&amp;ap=47&amp;dc=474&amp;fe=984&amp;to=IV5XFkUMWA4GFE4LXRFCWAVSEBsMBhE%3D&amp;v=40&amp;jsonp=NREUM.setToken&amp;perf=%7B%22timing%22%3A%7B%22of%22%3A1363328196764%2C%20%22n%22%3A0%2C%20%22u%22%3A354%2C%20%22ue%22%3A354%2C%20%22dl%22%3A578%2C%20%22di%22%3A1056%2C%20%22ds%22%3A1056%2C%20%22de%22%3A1100%2C%20%22dc%22%3A1564%2C%20%22l%22%3A1564%2C%20%22le%22%3A1570%2C%20%22f%22%3A0%2C%20%22dn%22%3A0%2C%20%22dne%22%3A0%2C%20%22c%22%3A7%2C%20%22ce%22%3A7%2C%20%22rq%22%3A7%2C%20%22rp%22%3A342%2C%20%22rpe%22%3A345%7D%2C%20%22navigation%22%3A%7B%22ty%22%3A1%7D%7D"></script></body></html>