<p> Hi there<% if !@vg.user.first_name.nil? %><%= @vg.user.first_name %><% end %>! </p>

<p> The admin for the event <%= @vg.event.title %> is requesting that you please re-record your VoiceGem. Your recording may not have been clear, so please double-check it and record again. </p>

</p> Please sign in: <%= link_to "sign in!", @url %></p>

<p> Thank you!
- The team at NameCoach </p>
