<footer class="footer">
  
  <nav>
  	<div class="container">
  			<div class="row">
  				<div class="span1">
  			<%= link_to image_tag("comodo_secure_76x26_transp.png", alt: "SSL"), "https://www.instantssl.com", id: "comodo", :target => "_blank" %>
  				</div>
  				<div class="span2">
  				&copy; NameCoach 2013
  				</div>
			</div>		
  			

 		 
	</div>
  </nav>

  
</footer>