 <header>



<% if mobile_device? %>
  <%= render 'layouts/mobile_header' %>
<% else %>
  <%= render 'layouts/regular_header' %>
<% end %> 

  





 </header>
  <div class="sep-gold"></div>

            

