 



<% if mobile_device? %>
<header>
  <%= render 'layouts/mobile_header' %>
  </header>
  <div class="sep-gold"></div>
<% else %>
  <%= render 'layouts/regular_header' %>
<% end %> 

  





 

            

