 <header>

<div class="container">

<% if mobile_device? %>
  <%= render 'layouts/mobile_header' %>
<% else %>
  <%= render 'layouts/regular_header' %>
<% end %> 

  

</div>



 </header>
  <div class="sep"></div>

            

